<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-11-12 04:05:33 +0000</string>
	<key>Creator</key>
	<string>Yoichi Hirai</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{158, 316}, {15, 17}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>Points</key>
			<array>
				<string>{143, 400}</string>
				<string>{143, 187}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>2.0000002384185791</real>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/latexit/index.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUIdHVUJHRvcFgkb2JqZWN0c1gkdmVyc2lv
			blkkYXJjaGl2ZXLRBgdUcm9vdIABrxAYCQoQKCktNDo7QkNLTE9S
			VlpbYWRoa2xxVSRudWxs0gsMDQ9aTlMub2JqZWN0c1YkY2xhc3Oh
			DoACgBfcERITFBUWFxgZDBobHB0eHyAhIiMkJSYnVWNvbG9yXxAP
			YmFja2dyb3VuZENvbG9yWXBvaW50U2l6ZVV0aXRsZVhiYXNlbGlu
			ZVRtb2RlV3ZlcnNpb25YcHJlYW1ibGVXcGRmRGF0YVpzb3VyY2VU
			ZXh0VGRhdGWAEYAAI0BCAAAAAAAAgBUjAAAAAAAAAAAQBIADgAaA
			BIAWgA+AE1UyLjUuMNIqDCssV05TLmRhdGFPEU6zJVBERi0xLjMK
			JcTl8uXrp/Og0MTGCjQgMCBvYmoKPDwgL0xlbmd0aCA1IDAgUiAv
			RmlsdGVyIC9GbGF0ZURlY29kZSA+PgpzdHJlYW0KeAEtjkEKwjAU
			RPee4i110d/8fBOTreIBCgEPEOpCqFBzf2isMouZYQZmViZWXIcG
			9MJn5sGb8daU2vbA0WrvmMTdfnlQl72kYAzepygh26EuXAtZcvS/
			4l+aMzF3JloQ06SUhbGo9EXKk+N8ory4l35k2gCFTR5RCmVuZHN0
			cmVhbQplbmRvYmoKNSAwIG9iagoxMjAKZW5kb2JqCjIgMCBvYmoK
			PDwgL1R5cGUgL1BhZ2UgL1BhcmVudCAzIDAgUiAvUmVzb3VyY2Vz
			IDYgMCBSIC9Db250ZW50cyA0IDAgUiAvTWVkaWFCb3ggWzAgMCAx
			NSAxN10KL0Fubm90cyA5IDAgUiA+PgplbmRvYmoKNiAwIG9iago8
			PCAvUHJvY1NldCBbIC9QREYgL1RleHQgXSAvQ29sb3JTcGFjZSA8
			PCAvQ3MxIDcgMCBSID4+IC9Gb250IDw8IC9UMS4wIDggMCBSCj4+
			ID4+CmVuZG9iago5IDAgb2JqClsgMTAgMCBSIDExIDAgUiAxMiAw
			IFIgMTMgMCBSIDE0IDAgUiAxNSAwIFIgXQplbmRvYmoKMTYgMCBv
			YmoKPDwgL0xlbmd0aCAxNyAwIFIgL04gMyAvQWx0ZXJuYXRlIC9E
			ZXZpY2VSR0IgL0ZpbHRlciAvRmxhdGVEZWNvZGUgPj4Kc3RyZWFt
			CngBnZZ3VFPZFofPvTe90BIiICX0GnoJINI7SBUEUYlJgFAChoQm
			dkQFRhQRKVZkVMABR4ciY0UUC4OCYtcJ8hBQxsFRREXl3YxrCe+t
			NfPemv3HWd/Z57fX2Wfvfde6AFD8ggTCdFgBgDShWBTu68FcEhPL
			xPcCGBABDlgBwOFmZgRH+EQC1Py9PZmZqEjGs/buLoBku9ssv1Am
			c9b/f5EiN0MkBgAKRdU2PH4mF+UClFOzxRky/wTK9JUpMoYxMhah
			CaKsIuPEr2z2p+Yru8mYlybkoRpZzhm8NJ6Mu1DemiXho4wEoVyY
			JeBno3wHZb1USZoA5fco09P4nEwAMBSZX8znJqFsiTJFFBnuifIC
			AAiUxDm8cg6L+TlongB4pmfkigSJSWKmEdeYaeXoyGb68bNT+WIx
			K5TDTeGIeEzP9LQMjjAXgK9vlkUBJVltmWiR7a0c7e1Z1uZo+b/Z
			3x5+U/09yHr7VfEm7M+eQYyeWd9s7KwvvRYA9iRamx2zvpVVALRt
			BkDl4axP7yAA8gUAtN6c8x6GbF6SxOIMJwuL7OxscwGfay4r6Df7
			n4Jvyr+GOfeZy+77VjumFz+BI0kVM2VF5aanpktEzMwMDpfPZP33
			EP/jwDlpzcnDLJyfwBfxhehVUeiUCYSJaLuFPIFYkC5kCoR/1eF/
			GDYnBxl+nWsUaHVfAH2FOVC4SQfIbz0AQyMDJG4/egJ961sQMQrI
			vrxorZGvc48yev7n+h8LXIpu4UxBIlPm9gyPZHIloiwZo9+EbMEC
			EpAHdKAKNIEuMAIsYA0cgDNwA94gAISASBADlgMuSAJpQASyQT7Y
			AApBMdgBdoNqcADUgXrQBE6CNnAGXARXwA1wCwyAR0AKhsFLMAHe
			gWkIgvAQFaJBqpAWpA+ZQtYQG1oIeUNBUDgUA8VDiZAQkkD50Cao
			GCqDqqFDUD30I3Qaughdg/qgB9AgNAb9AX2EEZgC02EN2AC2gNmw
			OxwIR8LL4ER4FZwHF8Db4Uq4Fj4Ot8IX4RvwACyFX8KTCEDICAPR
			RlgIG/FEQpBYJAERIWuRIqQCqUWakA6kG7mNSJFx5AMGh6FhmBgW
			xhnjh1mM4WJWYdZiSjDVmGOYVkwX5jZmEDOB+YKlYtWxplgnrD92
			CTYRm40txFZgj2BbsJexA9hh7DscDsfAGeIccH64GFwybjWuBLcP
			14y7gOvDDeEm8Xi8Kt4U74IPwXPwYnwhvgp/HH8e348fxr8nkAla
			BGuCDyGWICRsJFQQGgjnCP2EEcI0UYGoT3QihhB5xFxiKbGO2EG8
			SRwmTpMUSYYkF1IkKZm0gVRJaiJdJj0mvSGTyTpkR3IYWUBeT64k
			nyBfJQ+SP1CUKCYUT0ocRULZTjlKuUB5QHlDpVINqG7UWKqYup1a
			T71EfUp9L0eTM5fzl+PJrZOrkWuV65d7JU+U15d3l18unydfIX9K
			/qb8uAJRwUDBU4GjsFahRuG0wj2FSUWaopViiGKaYolig+I1xVEl
			vJKBkrcST6lA6bDSJaUhGkLTpXnSuLRNtDraZdowHUc3pPvTk+nF
			9B/ovfQJZSVlW+Uo5RzlGuWzylIGwjBg+DNSGaWMk4y7jI/zNOa5
			z+PP2zavaV7/vCmV+SpuKnyVIpVmlQGVj6pMVW/VFNWdqm2qT9Qw
			aiZqYWrZavvVLquNz6fPd57PnV80/+T8h+qwuol6uPpq9cPqPeqT
			GpoavhoZGlUalzTGNRmabprJmuWa5zTHtGhaC7UEWuVa57VeMJWZ
			7sxUZiWzizmhra7tpy3RPqTdqz2tY6izWGejTrPOE12SLls3Qbdc
			t1N3Qk9LL1gvX69R76E+UZ+tn6S/R79bf8rA0CDaYItBm8GooYqh
			v2GeYaPhYyOqkavRKqNaozvGOGO2cYrxPuNbJrCJnUmSSY3JTVPY
			1N5UYLrPtM8Ma+ZoJjSrNbvHorDcWVmsRtagOcM8yHyjeZv5Kws9
			i1iLnRbdFl8s7SxTLessH1kpWQVYbbTqsPrD2sSaa11jfceGauNj
			s86m3ea1rakt33a/7X07ml2w3Ra7TrvP9g72Ivsm+zEHPYd4h70O
			99h0dii7hH3VEevo4bjO8YzjByd7J7HTSaffnVnOKc4NzqMLDBfw
			F9QtGHLRceG4HHKRLmQujF94cKHUVduV41rr+sxN143ndsRtxN3Y
			Pdn9uPsrD0sPkUeLx5Snk+cazwteiJevV5FXr7eS92Lvau+nPjo+
			iT6NPhO+dr6rfS/4Yf0C/Xb63fPX8Of61/tPBDgErAnoCqQERgRW
			Bz4LMgkSBXUEw8EBwbuCHy/SXyRc1BYCQvxDdoU8CTUMXRX6cxgu
			LDSsJux5uFV4fnh3BC1iRURDxLtIj8jSyEeLjRZLFndGyUfFRdVH
			TUV7RZdFS5dYLFmz5EaMWowgpj0WHxsVeyR2cqn30t1Lh+Ps4grj
			7i4zXJaz7NpyteWpy8+ukF/BWXEqHhsfHd8Q/4kTwqnlTK70X7l3
			5QTXk7uH+5LnxivnjfFd+GX8kQSXhLKE0USXxF2JY0muSRVJ4wJP
			QbXgdbJf8oHkqZSQlKMpM6nRqc1phLT4tNNCJWGKsCtdMz0nvS/D
			NKMwQ7rKadXuVROiQNGRTChzWWa7mI7+TPVIjCSbJYNZC7Nqst5n
			R2WfylHMEeb05JrkbssdyfPJ+341ZjV3dWe+dv6G/ME17msOrYXW
			rlzbuU53XcG64fW+649tIG1I2fDLRsuNZRvfbore1FGgUbC+YGiz
			7+bGQrlCUeG9Lc5bDmzFbBVs7d1ms61q25ciXtH1YsviiuJPJdyS
			699ZfVf53cz2hO29pfal+3fgdgh33N3puvNYmWJZXtnQruBdreXM
			8qLyt7tX7L5WYVtxYA9pj2SPtDKosr1Kr2pH1afqpOqBGo+a5r3q
			e7ftndrH29e/321/0wGNA8UHPh4UHLx/yPdQa61BbcVh3OGsw8/r
			ouq6v2d/X39E7Ujxkc9HhUelx8KPddU71Nc3qDeUNsKNksax43HH
			b/3g9UN7E6vpUDOjufgEOCE58eLH+B/vngw82XmKfarpJ/2f9rbQ
			Wopaodbc1om2pDZpe0x73+mA050dzh0tP5v/fPSM9pmas8pnS8+R
			zhWcmzmfd37yQsaF8YuJF4c6V3Q+urTk0p2usK7ey4GXr17xuXKp
			2737/FWXq2euOV07fZ19ve2G/Y3WHruell/sfmnpte9tvelws/2W
			462OvgV95/pd+y/e9rp95Y7/nRsDiwb67i6+e/9e3D3pfd790Qep
			D14/zHo4/Wj9Y+zjoicKTyqeqj+t/dX412apvfTsoNdgz7OIZ4+G
			uEMv/5X5r0/DBc+pzytGtEbqR61Hz4z5jN16sfTF8MuMl9Pjhb8p
			/rb3ldGrn353+71nYsnE8GvR65k/St6ovjn61vZt52To5NN3ae+m
			p4req74/9oH9oftj9MeR6exP+E+Vn40/d3wJ/PJ4Jm1m5t/3hPP7
			CmVuZHN0cmVhbQplbmRvYmoKMTcgMCBvYmoKMjYxMgplbmRvYmoK
			NyAwIG9iagpbIC9JQ0NCYXNlZCAxNiAwIFIgXQplbmRvYmoKMyAw
			IG9iago8PCAvVHlwZSAvUGFnZXMgL01lZGlhQm94IFswIDAgNjEy
			IDc5Ml0gL0NvdW50IDEgL0tpZHMgWyAyIDAgUiBdID4+CmVuZG9i
			agoxOCAwIG9iago8PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMyAw
			IFIgPj4KZW5kb2JqCjE1IDAgb2JqCjw8IC9TdWJ0eXBlIC9Qb3B1
			cCAvUmVjdCBbIDQgMCAxMzIgNjQgXSAvUGFyZW50IDEyIDAgUiAv
			VHlwZSAvQW5ub3QgPj4KZW5kb2JqCjE0IDAgb2JqCjw8IC9TdWJ0
			eXBlIC9Qb3B1cCAvUmVjdCBbIDQgMCAxMzIgNjQgXSAvUGFyZW50
			IDExIDAgUiAvVHlwZSAvQW5ub3QgPj4KZW5kb2JqCjEzIDAgb2Jq
			Cjw8IC9TdWJ0eXBlIC9Qb3B1cCAvUmVjdCBbIDQgMCAxMzIgNjQg
			XSAvUGFyZW50IDEwIDAgUiAvVHlwZSAvQW5ub3QgPj4KZW5kb2Jq
			CjEyIDAgb2JqCjw8IC9UIChmci5jaGFjaGF0ZWxpZXIucGllcnJl
			LkxhVGVYaVQpIC9Qb3B1cCAxNSAwIFIgL1JlY3QgWyAwIDAgMCAw
			IF0gL0FQCjE5IDAgUiAvQ29udGVudHMgKFluQnNhWE4wTUREVUFR
			SURCQVVJUUVGVUpIUnZjRmdrYjJKcVpXTjBjMWdrZG1WeWMybHZi
			bGtrWVhKamFHbDJcMDEyWlhMUkJnZFVjbTl2ZElBQnJ4QVVDUW9o
			SWlNa0pTWW5LQ2txS3k4Mk9UbzdQRDFWSkc1MWJHelRDd3dORGhj
			Z1wwMTJXazVUTG05aWFtVmpkSE5YVGxNdWEyVjVjMVlrWTJ4aGMz
			T29EeEFSRWhNVUZSYUFDb0FMZ0F5QURvQVBnQkNBXDAxMkVZQVNx
			QmdaR2hzY0hSNGZnQUtBQTRBRWdBV0FCb0FIZ0FpQUNZQVRWWFJw
			ZEd4bFdIQnlaV0Z0WW14bFh4QVBcMDEyWW1GamEyZHliM1Z1WkVO
			dmJHOXlWV052Ykc5eVZuTnZkWEpqWlZSdGIyUmxXR0poYzJWc2FX
			NWxYVzFoWjI1cFwwMTJabWxqWVhScGIyNVFYeERTWEdSdlkzVnRa
			VzUwWTJ4aGMzTmJNVEJ3ZEYxN1lYSjBhV05zWlgwS1hIVnpaWEJo
			XDAxMlkydGhaMlZiZFhObGJtRnRaWE5kZTJOdmJHOXlmU0FsZFhO
			bFpDQm1iM0lnWm05dWRDQmpiMnh2Y2dwY2RYTmxcMDEyY0dGamEy
			Rm5aWHRoYlhOemVXMWlmU0FsYldGMGFITUtYSFZ6WlhCaFkydGha
			MlY3WVcxemJXRjBhSDBnSlcxaFwwMTJkR2h6Q2x4MWMyVndZV05y
			WVdkbFczVjBaamhkZTJsdWNIVjBaVzVqZlNBbGRYTmxablZzSUhS
			dklIUjVjR1VnXDAxMlpHbHlaV04wYkhrZ1pHbGhZM0pwZEdsaklH
			Tm9ZWEpoWTNSbGNuTUswaXdOTFM1WFRsTXVaR0YwWVU4UTdXSndc
			MDEyYkdsemREQXcxQUVDQXdRRkNCY1lWQ1IwYjNCWUpHOWlhbVZq
			ZEhOWUpIWmxjbk5wYjI1WkpHRnlZMmhwZG1WeVwwMTIwUVlIVkhK
			dmIzU0FBYU1KQ2hGVkpHNTFiR3pUQ3d3TkRnOFFWMDVUVjJocGRH
			VmNUbE5EYjJ4dmNsTndZV05sXDAxMlZpUmpiR0Z6YzBJeEFCQURn
			QUxTRWhNVUZWZ2tZMnhoYzNObGMxb2tZMnhoYzNOdVlXMWxvaFVX
			VjA1VFEyOXNcMDEyYjNKWVRsTlBZbXBsWTNRU0FBR0dvRjhRRDA1
			VFMyVjVaV1JCY21Ob2FYWmxjZ2dSRmg4b01qVTZQRUJHVFZWaVww
			MTJhV3h1Y0hWK2lZeVVuYUlBQUFBQUFBQUJBUUFBQUFBQUFBQVpB
			QUFBQUFBQUFBQUFBQUFBQUFBQXRJQU4wakF4XDAxMk1qTllKR05z
			WVhOelpYTmFKR05zWVhOemJtRnRaYU16TkRWZFRsTk5kWFJoWW14
			bFJHRjBZVlpPVTBSaGRHRllcMDEyVGxOUFltcGxZM1RTTEEwM0xr
			OFE3Mkp3YkdsemREQXcxQUVDQXdRRkNCY1lWQ1IwYjNCWUpHOWlh
			bVZqZEhOWVwwMTJKSFpsY25OcGIyNVpKR0Z5WTJocGRtVnkwUVlI
			VkhKdmIzU0FBYU1KQ2hGVkpHNTFiR3pUQ3d3TkRnOFFWVTVUXDAx
			MlVrZENYRTVUUTI5c2IzSlRjR0ZqWlZZa1kyeGhjM05HTUNBd0lE
			QUFFQUdBQXRJU0V4UVZXQ1JqYkdGemMyVnpcMDEyV2lSamJHRnpj
			MjVoYldXaUZSWlhUbE5EYjJ4dmNsaE9VMDlpYW1WamRCSUFBWWFn
			WHhBUFRsTkxaWGxsWkVGeVwwMTJZMmhwZG1WeUNCRVdIeWd5TlRv
			OFFFWk5VMkJuYm5CeWQ0Q0xqcGFmcEFBQUFBQUFBQUVCQUFBQUFB
			QUFBQmtBXDAxMkFBQUFBQUFBQUFBQUFBQUFBQUMyZ0ExUlpSQUVJ
			d0FBQUFBQUFBQUFJMEJDQUFBQUFBQUEwakF4UGoraVB6VmNcMDEy
			VGxORWFXTjBhVzl1WVhKNUVnQUJocUJmRUE5T1UwdGxlV1ZrUVhK
			amFHbDJaWElBQ0FBUkFCWUFId0FvQURJQVwwMTJOUUE2QUR3QVV3
			QlpBR0FBYXdCekFIb0Fnd0NGQUljQWlRQ0xBSTBBandDUkFKTUFu
			QUNlQUtBQW9nQ2tBS1lBXDAxMnFBQ3FBS3dBcmdDMEFMMEF6d0RW
			QU53QTRRRHFBUGdBK1FIT0FkTUIyd0xMQXMwQzBnTGJBdVlDNmdM
			NEF2OERcMDEyQ0FNTkEvOEVBUVFEQkFVRURnUVhCQndFSHdRc0JE
			RUFBQUFBQUFBQ0FRQUFBQUFBQUFCQ0FBQUFBQUFBQUFBQVwwMTJB
			QUFBQUFBRVF3PT1cMDEyKQovRiAzMiAvU3VidHlwZSAvVGV4dCAv
			VHlwZSAvQW5ub3QgPj4KZW5kb2JqCjE5IDAgb2JqCjw8IC9OIDIw
			IDAgUiA+PgplbmRvYmoKMTEgMCBvYmoKPDwgL1QgKGZyLmNoYWNo
			YXRlbGllci5waWVycmUuTGFUZVhpVCkgL1BvcHVwIDE0IDAgUiAv
			UmVjdCBbIDAgLTI0IDI0IDAgXQovQVAgMjMgMCBSIC9Db250ZW50
			cyAoWW5Cc2FYTjBNRERVQVFJREJBVUlRRUZVSkhSdmNGZ2tiMkpx
			WldOMGMxZ2tkbVZ5YzJsdmJsa2tZWEpqYUdsMlwwMTJaWExSQmdk
			VWNtOXZkSUFCcnhBVUNRb2hJaU1rSlNZbktDa3FLeTgyT1RvN1BE
			MVZKRzUxYkd6VEN3d05EaGNnXDAxMldrNVRMbTlpYW1WamRITlhU
			bE11YTJWNWMxWWtZMnhoYzNPb0R4QVJFaE1VRlJhQUNvQUxnQXlB
			RG9BUGdCQ0FcMDEyRVlBU3FCZ1pHaHNjSFI0ZmdBS0FBNEFFZ0FX
			QUJvQUhnQWlBQ1lBVFZYUnBkR3hsV0hCeVpXRnRZbXhsWHhBUFww
			MTJZbUZqYTJkeWIzVnVaRU52Ykc5eVZXTnZiRzl5Vm5OdmRYSmpa
			VlJ0YjJSbFdHSmhjMlZzYVc1bFhXMWhaMjVwXDAxMlptbGpZWFJw
			YjI1UVh4RFNYR1J2WTNWdFpXNTBZMnhoYzNOYk1UQndkRjE3WVhK
			MGFXTnNaWDBLWEhWelpYQmhcMDEyWTJ0aFoyVmJkWE5sYm1GdFpY
			TmRlMk52Ykc5eWZTQWxkWE5sWkNCbWIzSWdabTl1ZENCamIyeHZj
			Z3BjZFhObFwwMTJjR0ZqYTJGblpYdGhiWE56ZVcxaWZTQWxiV0Yw
			YUhNS1hIVnpaWEJoWTJ0aFoyVjdZVzF6YldGMGFIMGdKVzFoXDAx
			MmRHaHpDbHgxYzJWd1lXTnJZV2RsVzNWMFpqaGRlMmx1Y0hWMFpX
			NWpmU0FsZFhObFpuVnNJSFJ2SUhSNWNHVWdcMDEyWkdseVpXTjBi
			SGtnWkdsaFkzSnBkR2xqSUdOb1lYSmhZM1JsY25NSzBpd05MUzVY
			VGxNdVpHRjBZVThRN1dKd1wwMTJiR2x6ZERBdzFBRUNBd1FGQ0Jj
			WVZDUjBiM0JZSkc5aWFtVmpkSE5ZSkhabGNuTnBiMjVaSkdGeVky
			aHBkbVZ5XDAxMjBRWUhWSEp2YjNTQUFhTUpDaEZWSkc1MWJHelRD
			d3dORGc4UVYwNVRWMmhwZEdWY1RsTkRiMnh2Y2xOd1lXTmxcMDEy
			VmlSamJHRnpjMEl4QUJBRGdBTFNFaE1VRlZna1kyeGhjM05sYzFv
			a1kyeGhjM051WVcxbG9oVVdWMDVUUTI5c1wwMTJiM0pZVGxOUFlt
			cGxZM1FTQUFHR29GOFFEMDVUUzJWNVpXUkJjbU5vYVhabGNnZ1JG
			aDhvTWpVNlBFQkdUVlZpXDAxMmFXeHVjSFYraVl5VW5hSUFBQUFB
			QUFBQkFRQUFBQUFBQUFBWkFBQUFBQUFBQUFBQUFBQUFBQUFBdElB
			TjBqQXhcMDEyTWpOWUpHTnNZWE56WlhOYUpHTnNZWE56Ym1GdFph
			TXpORFZkVGxOTmRYUmhZbXhsUkdGMFlWWk9VMFJoZEdGWVwwMTJU
			bE5QWW1wbFkzVFNMQTAzTGs4UTcySndiR2x6ZERBdzFBRUNBd1FG
			Q0JjWVZDUjBiM0JZSkc5aWFtVmpkSE5ZXDAxMkpIWmxjbk5wYjI1
			WkpHRnlZMmhwZG1WeTBRWUhWSEp2YjNTQUFhTUpDaEZWSkc1MWJH
			elRDd3dORGc4UVZVNVRcMDEyVWtkQ1hFNVRRMjlzYjNKVGNHRmpa
			VllrWTJ4aGMzTkdNQ0F3SURBQUVBR0FBdElTRXhRVldDUmpiR0Z6
			YzJWelwwMTJXaVJqYkdGemMyNWhiV1dpRlJaWFRsTkRiMnh2Y2xo
			T1UwOWlhbVZqZEJJQUFZYWdYeEFQVGxOTFpYbGxaRUZ5XDAxMlky
			aHBkbVZ5Q0JFV0h5Z3lOVG84UUVaTlUyQm5ibkJ5ZDRDTGpwYWZw
			QUFBQUFBQUFBRUJBQUFBQUFBQUFCa0FcMDEyQUFBQUFBQUFBQUFB
			QUFBQUFBQzJnQTFSWlJBRUl3QUFBQUFBQUFBQUkwQkNBQUFBQUFB
			QTBqQXhQaitpUHpWY1wwMTJUbE5FYVdOMGFXOXVZWEo1RWdBQmhx
			QmZFQTlPVTB0bGVXVmtRWEpqYUdsMlpYSUFDQUFSQUJZQUh3QW9B
			RElBXDAxMk5RQTZBRHdBVXdCWkFHQUFhd0J6QUhvQWd3Q0ZBSWNB
			aVFDTEFJMEFqd0NSQUpNQW5BQ2VBS0FBb2dDa0FLWUFcMDEycUFD
			cUFLd0FyZ0MwQUwwQXp3RFZBTndBNFFEcUFQZ0ErUUhPQWRNQjJ3
			TExBczBDMGdMYkF1WUM2Z0w0QXY4RFwwMTJDQU1OQS84RUFRUURC
			QVVFRGdRWEJCd0VId1FzQkRFQUFBQUFBQUFDQVFBQUFBQUFBQUJD
			QUFBQUFBQUFBQUFBXDAxMkFBQUFBQUFFUXc9PVwwMTIpCi9GIDMy
			IC9TdWJ0eXBlIC9UZXh0IC9UeXBlIC9Bbm5vdCA+PgplbmRvYmoK
			MjMgMCBvYmoKPDwgL04gMjQgMCBSID4+CmVuZG9iagoxMCAwIG9i
			ago8PCAvVCAoZnIuY2hhY2hhdGVsaWVyLnBpZXJyZS5MYVRlWGlU
			KSAvUG9wdXAgMTMgMCBSIC9SZWN0IFsgMCAtMjQgMjQgMCBdCi9B
			UCAyNyAwIFIgL0NvbnRlbnRzIChZbkJzYVhOME1ERFVBUUlEQkFV
			SVJVWlVKSFJ2Y0Zna2IySnFaV04wYzFna2RtVnljMmx2Ymxra1lY
			SmphR2wyXDAxMlpYTFJCZ2RVY205dmRJQUJyeEFUQ1FvZklDRWlJ
			eVFsSmlveE5UazhQMEJCUWxVa2JuVnNiTk1MREEwT0ZoNWFcMDEy
			VGxNdWIySnFaV04wYzFkT1V5NXJaWGx6VmlSamJHRnpjNmNQRUJF
			U0V4UVZnQW1BQzRBTmdBNkFENEFRZ0JHblwwMTJGeGdaR2hzY0hZ
			QUNnQU9BQklBRmdBYUFCNEFJZ0JKWWNISmxZVzFpYkdWZkVBOWlZ
			V05yWjNKdmRXNWtRMjlzXDAxMmIzSlZZMjlzYjNKV2MyOTFjbU5s
			VkcxdlpHVllZbUZ6Wld4cGJtVmRiV0ZuYm1sbWFXTmhkR2x2YnRJ
			bkRTZ3BcMDEyV1U1VExuTjBjbWx1WjE4UTBseGtiMk4xYldWdWRH
			TnNZWE56V3pFd2NIUmRlMkZ5ZEdsamJHVjlDbHgxYzJWd1wwMTJZ
			V05yWVdkbFczVnpaVzVoYldWelhYdGpiMnh2Y24wZ0pYVnpaV1Fn
			Wm05eUlHWnZiblFnWTI5c2IzSUtYSFZ6XDAxMlpYQmhZMnRoWjJW
			N1lXMXpjM2x0WW4wZ0pXMWhkR2h6Q2x4MWMyVndZV05yWVdkbGUy
			RnRjMjFoZEdoOUlDVnRcMDEyWVhSb2N3cGNkWE5sY0dGamEyRm5a
			VnQxZEdZNFhYdHBibkIxZEdWdVkzMGdKWFZ6WldaMWJDQjBieUIw
			ZVhCbFwwMTJJR1JwY21WamRHeDVJR1JwWVdOeWFYUnBZeUJqYUdG
			eVlXTjBaWEp6Q29BSzBpc3NMUzVZSkdOc1lYTnpaWE5hXDAxMkpH
			TnNZWE56Ym1GdFphTXVMekJmRUE5T1UwMTFkR0ZpYkdWVGRISnBi
			bWRZVGxOVGRISnBibWRZVGxOUFltcGxcMDEyWTNUU01nMHpORmRP
			VXk1a1lYUmhUeER0WW5Cc2FYTjBNRERVQVFJREJBVUlGeGhVSkhS
			dmNGZ2tiMkpxWldOMFwwMTJjMWdrZG1WeWMybHZibGtrWVhKamFH
			bDJaWExSQmdkVWNtOXZkSUFCb3drS0VWVWtiblZzYk5NTERBME9E
			eEJYXDAxMlRsTlhhR2wwWlZ4T1UwTnZiRzl5VTNCaFkyVldKR05z
			WVhOelFqRUFFQU9BQXRJU0V4UVZXQ1JqYkdGemMyVnpcMDEyV2lS
			amJHRnpjMjVoYldXaUZSWlhUbE5EYjJ4dmNsaE9VMDlpYW1WamRC
			SUFBWWFnWHhBUFRsTkxaWGxsWkVGeVwwMTJZMmhwZG1WeUNCRVdI
			eWd5TlRvOFFFWk5WV0pwYkc1d2RYNkpqSlNkb2dBQUFBQUFBQUVC
			QUFBQUFBQUFBQmtBXDAxMkFBQUFBQUFBQUFBQUFBQUFBQUMwZ0F6
			U0t5dzJONk0zT0RCZFRsTk5kWFJoWW14bFJHRjBZVlpPVTBSaGRH
			SFNcMDEyTWcwNk5FOFE3Mkp3YkdsemREQXcxQUVDQXdRRkNCY1lW
			Q1IwYjNCWUpHOWlhbVZqZEhOWUpIWmxjbk5wYjI1WlwwMTJKR0Z5
			WTJocGRtVnkwUVlIVkhKdmIzU0FBYU1KQ2hGVkpHNTFiR3pUQ3d3
			TkRnOFFWVTVUVWtkQ1hFNVRRMjlzXDAxMmIzSlRjR0ZqWlZZa1ky
			eGhjM05HTUNBd0lEQUFFQUdBQXRJU0V4UVZXQ1JqYkdGemMyVnpX
			aVJqYkdGemMyNWhcMDEyYldXaUZSWlhUbE5EYjJ4dmNsaE9VMDlp
			YW1WamRCSUFBWWFnWHhBUFRsTkxaWGxsWkVGeVkyaHBkbVZ5Q0JF
			V1wwMTJIeWd5TlRvOFFFWk5VMkJuYm5CeWQ0Q0xqcGFmcEFBQUFB
			QUFBQUVCQUFBQUFBQUFBQmtBQUFBQUFBQUFBQUFBXDAxMkFBQUFB
			QUMyZ0F6U0p3MDlLVkZsZ0FvUUJDTUFBQUFBQUFBQUFDTkFRZ0FB
			QUFBQUFOSXJMRU5Fb2tRd1hFNVRcMDEyUkdsamRHbHZibUZ5ZVJJ
			QUFZYWdYeEFQVGxOTFpYbGxaRUZ5WTJocGRtVnlBQWdBRVFBV0FC
			OEFLQUF5QURVQVwwMTJPZ0E4QUZJQVdBQmZBR29BY2dCNUFJRUFn
			d0NGQUljQWlRQ0xBSTBBandDWEFKa0Ftd0NkQUo4QW9RQ2pBS1VB
			XDAxMnB3Q3dBTUlBeUFEUEFOUUEzUURyQVBBQStnSFBBZEVCMWdI
			ZkFlb0I3Z0lBQWdrQ0VnSVhBaDhERHdNUkF4WURcMDEyR2dNb0F5
			OEROQVFtQkNnRUxRUXZCREVFTXdROEJFVUVTZ1JOQkZvRVh3QUFB
			QUFBQUFJQkFBQUFBQUFBQUVjQVwwMTJBQUFBQUFBQUFBQUFBQUFB
			QUFSeFwwMTIpCi9GIDMyIC9TdWJ0eXBlIC9UZXh0IC9UeXBlIC9B
			bm5vdCA+PgplbmRvYmoKMjcgMCBvYmoKPDwgL04gMjggMCBSID4+
			CmVuZG9iagoyMCAwIG9iago8PCAvTGVuZ3RoIDIxIDAgUiAvRmls
			dGVyIC9GbGF0ZURlY29kZSAvVHlwZSAvWE9iamVjdCAvU3VidHlw
			ZSAvRm9ybSAvRm9ybVR5cGUKMSAvQkJveCBbMCAwIDAgMF0gL1Jl
			c291cmNlcyAyMiAwIFIgPj4Kc3RyZWFtCngBK1QIBAAB5wDjCmVu
			ZHN0cmVhbQplbmRvYmoKMjEgMCBvYmoKMTEKZW5kb2JqCjIyIDAg
			b2JqCjw8IC9Qcm9jU2V0IFsgL1BERiBdID4+CmVuZG9iagoyOCAw
			IG9iago8PCAvTGVuZ3RoIDI5IDAgUiAvRmlsdGVyIC9GbGF0ZURl
			Y29kZSAvVHlwZSAvWE9iamVjdCAvU3VidHlwZSAvRm9ybSAvRm9y
			bVR5cGUKMSAvQkJveCBbMCAwIDAgMF0gL1Jlc291cmNlcyAzMCAw
			IFIgPj4Kc3RyZWFtCngBK1QIBAAB5wDjCmVuZHN0cmVhbQplbmRv
			YmoKMjkgMCBvYmoKMTEKZW5kb2JqCjMwIDAgb2JqCjw8IC9Qcm9j
			U2V0IFsgL1BERiBdID4+CmVuZG9iagoyNCAwIG9iago8PCAvTGVu
			Z3RoIDI1IDAgUiAvRmlsdGVyIC9GbGF0ZURlY29kZSAvVHlwZSAv
			WE9iamVjdCAvU3VidHlwZSAvRm9ybSAvRm9ybVR5cGUKMSAvQkJv
			eCBbMCAwIDAgMF0gL1Jlc291cmNlcyAyNiAwIFIgPj4Kc3RyZWFt
			CngBK1QIBAAB5wDjCmVuZHN0cmVhbQplbmRvYmoKMjUgMCBvYmoK
			MTEKZW5kb2JqCjI2IDAgb2JqCjw8IC9Qcm9jU2V0IFsgL1BERiBd
			ID4+CmVuZG9iago4IDAgb2JqCjw8IC9UeXBlIC9Gb250IC9TdWJ0
			eXBlIC9UeXBlMSAvQmFzZUZvbnQgL0dYQVFTQitDTU1JMTAgL0Zv
			bnREZXNjcmlwdG9yIDMxIDAgUgovRW5jb2RpbmcgL01hY1JvbWFu
			RW5jb2RpbmcgL0ZpcnN0Q2hhciAxMDEgL0xhc3RDaGFyIDEwMSAv
			V2lkdGhzIFsgNDY1IF0gPj4KZW5kb2JqCjMxIDAgb2JqCjw8IC9U
			eXBlIC9Gb250RGVzY3JpcHRvciAvRm9udE5hbWUgL0dYQVFTQitD
			TU1JMTAgL0ZsYWdzIDMyIC9Gb250QkJveCBbLTY0IC0yODIgMTA4
			MCA3ODJdCi9JdGFsaWNBbmdsZSAtMTQgL0FzY2VudCA3NTAgL0Rl
			c2NlbnQgLTI1MCAvQ2FwSGVpZ2h0IDY2NiAvU3RlbVYgNzIgL1hI
			ZWlnaHQKNTAwIC9TdGVtSCAzMSAvTWF4V2lkdGggMTE0MiAvRm9u
			dEZpbGUgMzIgMCBSID4+CmVuZG9iagozMiAwIG9iago8PCAvTGVu
			Z3RoIDMzIDAgUiAvTGVuZ3RoMSAzNCAwIFIgL0xlbmd0aDIgMzUg
			MCBSIC9MZW5ndGgzIDM2IDAgUiAvRmlsdGVyCi9GbGF0ZURlY29k
			ZSA+PgpzdHJlYW0KeAHtV2dYk12TRhCEIEoT6UQFpAgk9N57FQgg
			IkISAoSShCT0IkhvSu9NukjvIAJKFRCliIpUKdIUpBeBDfqWfb/d
			vb79vdfmR/KcmfvMnJm573M94bp221hAyQYNQ6ijUXgBsCBIGqii
			p6cFBgFBIBFBEEgYwMUFQeKdEH/aAVymCCwOiUZJ/yeEChYBxRNs
			qlA8AaiHRgG1XZ2AYBEgWFwaLCENAgGFQSApQqhfQDRWGqgKdUPa
			APUEgdpoFAIH4FJBYzyxSDt7PCHPn49AHjgvECwlJXHr13agkjMC
			i4RDUUA9KN4e4UzICIc6AY3RcCQC7/mPEDyy9ng8RlpIyN3dXRDq
			jBNEY+3keW8B3ZF4e6ARAofAuiFsgGclA/Whzog/ShYEcAEh9kjc
			b4cx2hbvDsUigASDExKOQOEIW1xRNggskJAdaKylCzTAIFC/wbq/
			AbeAfzQHCBYE/xXuj91ngZCoX5uhcDjaGQNFeSJRdkBbpBMCaKCu
			K4j3wN8CQlE2Z0CoEw5NOA7UDYp0gsIIgF9HhwLVlQyBUEKT/qgP
			B8ciMXicIA7pdFaj0FkYQpvVUDYqaGdnBAqPA5xVqYrEIuB4NNZT
			6I/hOqLQ7ijvP1e2SJSN7VkzbFwxQiYopIsrQksV+BtDMAH+ttkh
			8EAxkKSEiKQYEOECRHjA7YXOEkA8MQjgmRN8ZibU4OuNQWOAtoQy
			EL5IWwThB+CNg7ohgHisK8LX+z87/rkCgMFAGyQcD4Qh7JAowN/R
			CWaE7e81Yf5YpAfQAkQgKBhIoCrw7ydLAhVt0Cgnz7/hv0YspGVg
			pHNXhf+PBvwVS1kZ7QH0FhARBgoIi4GAYJCoJFCC8OD7zzh/deXP
			6n8FuA1F/lE76O90WihbNCHO7yoI7fuzErffugHy/KEsXuA/U+ij
			CYRGAHn+5v89kBgITvgC/69VADzb8t+R/yzKv+X/v55I3dXJ6Vfz
			eH537b/4oc5IJ88/EARCu+IJ4tBDEySC+leoGeJM3EAePYQN0tX5
			X71aeChBJEooOwLRBcCigiDR3+1E4tSRHgib20g83P43mX7bTc5k
			6IREIW6jccizi4ewi3DJ/JrJXz6ClOGOhMsFR2DsbxcUR5Ax/td4
			z6AIgtT+OQI1FBxtc6ZJYTFxIBSLhXoCCJQgrMSA3mCCeG0QHr84
			DxQSRKHxhBhAQs2+QFs0FnA2aDCBjUKIMxvgf4hrjCdoA4q1+SvR
			2Tngrlgs4Vy/WE8405/rX/cCAuGBgAM+jaHhMkEO1UEt+5VKLO4C
			C4OypOsp+3eEBQbz75Pju9SGrWbjjDMzxnVK1D91gtXvO7TpK7vs
			Z0192PKer+Go9RTdFeBQX7LjgMWMne6eG4333mO9Pna5keiJWZIy
			u3QRtovoNlskdTuFgo1dlzHXZZ+b1R0f49256YvVJbSDW/Rb2yuL
			M3QZWKVM174Y4ZtgvZAFsW3Gm9lfnB8HzkXdC0/WT7uuI9t6AIhz
			r6Ce6enrnaDpZHsZGaDt9nBhgzMET6Mm08uqKnqhwnQi99LP7CK3
			1TRab5gGneKqTdezad6k/Wr9Tfv5zVXLazwJ7RL21gm2UeA1rwM2
			GswEvXIKNidvMcLmc1YoB0lDj3z8Hs60IxWp+Wqq7Aubo3ZosI7n
			+GjH0MxPV51kLYu33UE8t/Ti5E5K59d867heRLvZhhA336xMoplX
			42fI4F3xtQ3M7eZ0ypzY5QkeNRO2kEyxb4HIF05IBTX736EREaFy
			Q6aUm1wSqvvac6HAfNfbS/Qkd6u1VZl73KUiEhVNG+U1UzPhk5b/
			5HAdLPS6Fp5aFaXi5e48u+tT4TFrqdvjjC7wLfNqcRb7NvOB5lEU
			WhrIkfV0pS0iKJpRsDn8etnnuc6wHfZS4hgbomL9nGeH2wEMb7rR
			LUQiALfigKjDVa/jVeI0oD4AU+tFWnL7iozpcJudeE9uFyWx/Kdb
			pz/km5MN/LVFnZVAA8dGIvVjTXz0vd6t/LkMzfO0UjSzwUjXhbd6
			CfMGipftfQXoPvM8onpIb9gbuBz3OKpFaWa7KTuSd6SKZfTbxZZi
			uQByQamnXzNWt0XsWJi3MuQucVi0WnGcwk7RVlc2lFlN86cPux/2
			X6jfNLvO8Y2JeL4+M/3VDHRzGX1XHWcQyxuUkM+1biO82eQepf+8
			bERTfkfVd2eD/HNmbJd54qWWb7VVYIe75YF2xZfI2sCw1qYM7RKo
			j3WrfXQR7AHvS3fzwHW4BTfIIWGj+g6RhOe+HYAuxZ7JuCE4l5v0
			gS8t5kRgeMV27D4QejRmBehicRL1Ml3eWkIZbc20sVlFIxQraviI
			vXySYhPNkIINUgO8j3pS05VDjB9N40TePn7smHPrfhQsLm3Dq7+J
			HErZHyxqpUw2t0JHSjtx1D14CF7nHxqnGTl3ec2srlq4D4POUD3K
			eBZO0uoh32f7QbPm0ILDEqK2+9Ihzag3wk+I/4hyfp5hBZiWQj3p
			JDnvdWciDlO9nZ2eqXnNdG8iwKb+Wr2/jI1obh6k4PInMelbc4du
			9DfgOo/5JsZk+L3eXrlwJ6qC1ovKEXg133Bk2r1LHurSDRNfAEdr
			HTYN6lBzBysg3r3fi5ULW7FtqpfdcND5+WiE07HRaXeKy2rbmdOS
			OlVqTqAzMGfhqiNUt/8B88RBCuTtbbD3uwA6ZnpUTvij91nq494w
			yIuBFluykC/fcsq8w3WHV7nD2tsBfXcypeb6CmcO977XTcsrBNCN
			z9dCcj72or8buaeNzEoDQtnTEU3rAKFNivDmJTbWl4wMnkffGi/5
			BuWE4hfH7+QGNl+X8N90wQfN2B76ttMuDiXwVoZInjc2GrmT6HmV
			VjYDVyvskGhwv2U2sJmaq/3iY5PM5uAZb/nRaKGc0oqnKs7o6QXQ
			IFep7xPM56s2X73tGUTlI2gjLtx3Vy3cUEQYbttc6iRZgSJtzIfu
			zyi21SmQYy4iRWRYqwOUu5qU2BBHR+w92zsXSYaul+nAlxetAIBt
			+Z+vf0LQQ3L5fKx0ja/7Dz3z/T/dwNCRcaaaDLJCC/2r/TPFDIXv
			ikgzZjaw9Mqaawx5g/dP4aZaTJUk4jxWWL3r++H4YBt//8DJEv3V
			EGFLOBI6uyu6dSq3zvYGm/rczfNzhf19vpeaOp+qfO5tfzQPd6er
			Y9ZbzRO5xVfXGeEm5itYUiBVeLUy+7o4tKWW5hLCfDnNN4ZE/Kmw
			r04g6LuVaSXD4POoC58HhIrE2/36w0GbjspxYd0nTt/l3eOm7qzI
			ftE0j67sPu/hRvuCztd/Xl2AM/16Ooz+Gk+dl6OqoREML1PTc2nZ
			Ib+xM9ORcl6faVe0bIRM9CB1e7pm4tRBiS/d2m441LCkqpqCp/Cr
			TH9ApSGVCUeQCga29EZRZr9DhUgKscytbsETCcj9GXwQc1CoMMgY
			jSWK+JbS0my1XR58gWbY1oDcbOod8VxxdrHrAWhyLzbaUSiunLtC
			bOfi6+Hig7r3HykCqgSmdc1N75bA1kTvZFkMgFwHHBjk1UYdq/2r
			r93pateNaa3ff9ITa5JcuZs+B9QLdTqEaLL2ooZPPNM7ESbd3ac/
			ccFK5ycyItDBIhyDPpYcwArL1PlFFq+mgEn9cu5E5gSN9yZgxboQ
			QSEpYpmeIa1zK2/VvRI4C1v9TT4K6RCTOH2wFfdwmclho/AEVLv7
			Vj3U1BSq4eM6/AxLdIyv+Gle5Yn2eFfvUP492SOv2vhFCsk9zzpe
			1FWF5izTpYfa9UzsB2T8HL0sjtDgHAsGr4kB25Qqf9rkD7ZafJMW
			tkxyxHq0DCIjvFwtP56WU8e7lJTXG/CQtt0TuHstiok9a1W7A6DJ
			y4o13I2pYzMU2817AGGE6foKyQ+KOdKuMe7JGbrnGpxIMIj9DLvB
			Ip344VauiRWD7m2F2Lqevqv6KuWLxnq775Hr76nG5RMv0XS/3Qtb
			uLjwQ4Tvg8MNs45M1RXJpUjOzRGfzaxrDeoR030DEY0nzMvjuvEy
			Vg8ANoZJ2lqc9c1JHea9PB8ZGZyNXJbo9vK0LRjj/GzHqEmkbiU9
			E6/5ctUKfJg34ucOpHy++pTV+BapAvixQiA55daY0mjXtKcTz8M5
			3XNNb/HPczhI1k1iaL+vLVG0Mz1zVhzmYziKgdBLxXxWayIuMDOw
			ExhPGnsZdblScxmzyHgJqknGfp38nlf+8StqoeER9iA1B1NS70xw
			+BZ4IBBSlWiqezws5mmm4+PlP7w1l7zhM16Pv5DvoGyzHGwqV+71
			SWS8HTKm7deyaFHdWnfyXsT62C3nBIPCBppc1DM1K0nfFfxKZy6A
			X0pNWa4sqxb2ynz/IzaogCgUIGssjgfXOXVOWj+HpS1GEGU3E2mt
			MgyxWfFm3k3dGrVCUKtdMsZTFZjAxdbeqMwqRj5Ed4lR93joqr5p
			U0qJqH9w3KVfyPbOiByoG/ktw7bbY1FYlSfp4QAqp3p8LOMzciK6
			5O3Q0ygcVcenlujAL4eC2CnyShL2LTWLpwIkpccNazuXlgKLA7xe
			JC08xpaTXl6ZGeYsUC6h1CUWioj5Kt2ozLADHJv6wO2vwZI1PAh2
			FQdZ4qwDAHHbiT5pzfE8VQyi2dNFPMsbytXHAjSOLc+bsrqTHAtm
			t4+e67CXO0dOKk5Z5SvdXPzQfrd5pJ2W/BanEYLCeVTVgqQsuj0a
			49e/Ub4RTkl2ZyJe6VjSWcnr087XjPM2rfoy1+dT/RjJhuKKWzHT
			LbvJVxqZVDQKL/nH67/LrnzUOe0jA9S58F2cul1pem+0x9p6vtVB
			WoiS+CrR3ZrH/qcnJoVcfIfiLPc+btUrL87Gj8fK9q0s3I7ixJA4
			lPm3dy+7d+CD+ZHFU8jyfO2S0ayGn6PAFyYFXf0buCXz5kyHYN9c
			wL1XeE2VlQvrfQfsqUIA1dkF4PM+Cm8konPuYipJqeyTCpbWlbfH
			Pq8EvZPhlaFO+6BHeWE8RQzjD1TIU/i/v2FtZP10t/EEwwnk/kEN
			Lbpcy6lWEqeuGe1MxDt9dSpfhLQUP220gEx34gRxeTheO1ZJlfaX
			Wv5qNSjw3NfRT3dI8eu30ldU/Rpynfef2X9c4XWsSG9CUkjCRmL3
			FXH3r+57aJwKxoaQX15lNNgLSbsb+d2hYk6dHjLR8o7qFid0PZDZ
			6HPlIc42oTYv/+M9Z3+4Ixhdxb/4gDx0YHH6vP9LtZVQ2HrkLZVy
			l60O7pDjO3SrWnnp3aMp57Ev7n2uf/Xw9emXIyME2totbrYZa3MV
			o7D2drS8IsP2vcrgFbKqp2NNZqS7mJDRLUey3MDBXqUcDmqeT5Z6
			80wfaC5TUNPvTsTcDygbem+QWOU0+fadpxzrdvF9LzG1qAAmL86T
			h/3wb1OgfkfjCMzjF0obxPZFWBxl8Iswa1LtN/EnjpEtTQMaavaj
			3EsKVwKDgXl0M+Us1omZc4pSkddS0PcUdeOhkGRLIzzl2mWvtoqb
			zHwv90xkQgTUhpgXguPRzyGwL5NtYvMVDW0/XwgntMo/W9PxcBHp
			KJh5bYUvYitLX4555zNk9oErDJQ3ILeoFqtY0ZwguC58fwZbUyCd
			zcOmKV+KWBq/PTBZMypTsfex58OTIF9ns4xlgR91erNKg144axzM
			NyYr6tNxB65Rkd4qHtciRJycNace1hZ02SBO7dWzZKfvkVP29zSs
			Yed2oeyS+WkNnDxTm733TUToKlzSakd31ue2VEivPzt1a4ts3HE4
			oSGKVkjJPpzoV2IbaVgUEyzGSbda9rDIaAqXB7+oVnBqq62G09PO
			nxDdLtjbvoYgz/u8IoAHP/ooxCzUEwuTDUmMnzh2PBJa8J4mWx5K
			QKcP5tAFPX7TTTK3ViCpwUUTjhlseb3a3aD3Q3ok8RB1/IoTbuy/
			yiJ2rSQuqxmUGPFlXDH4WlK937wqxcgNSZmLD55s1p5u4c6zZd9f
			qZSzU9nIja0NmFQ4WFr94HVBJtrKMr4F60f4K6gZXxEuhP9J2bG1
			JK7yVELD7lFTysFrFunLB8pyUpw7F370rDJypvM1iMfuHPbaYy/v
			XAuk4ECUyiz1X/IfNusSLLbx29M4AamlzA5SEOVPKYLn6wuiPZCV
			EaYlLhdjBxorniWUUY9hvtrl659z97ScHruXMYETdnH+fqKQJfix
			QKf+cFfGe2cH0iT6kDqkPfvV4yL93PVR6hmyVsfVmU6bGY+XWvZq
			cj2BRWEFlnGWWCAkrt2Xqvm71sOjb+nCk0zlN6gKQs+nnqx0WVBU
			JgPex8Fdjz2bTIwCHGdIYghvJHV94SzP3gS0hQT5tNy5PZpj+qKL
			Z9lramjF2dvtxaMOfTxf9sCPNDg1kWpq1QBzHKWVDN5xdEogPXNF
			lI2rqKieVL34YD2V6eL+5Ldq5nMkSgbZPOUhuNe2VVw8E0eYQdXP
			mteFuUlTBDARlDrrfpXhsLltkWtyrmpbhssJyeQ8q6qyMjUOlZ19
			DYfTn7QWDoRx9Gy59dNHSrV2IRrxb/SNeyLg3cKjP5s/YGkFQybn
			JN6rPLqvopwzG7lUSS83iY0Zsk7apM9wcinjEbacbEvVR7Bk6iwl
			gGrY1hSKhjHgpL0flPejUzYv0V+hsb7tZ3zKIaczeaqgdrCow5Ke
			zl3DvxWeh73HKUzBafEhSshjDCPSSrT6xdzkSalLIGkdH7F1Dhb4
			dE+JsizeRLK7pwsdw4fBXWQ9oFIr2HVyLIIpogz5twZkjGKjUFlx
			4cKeb0MqGII+1fuyP1/SWf6oYwoJvPFMknk2KisRoybd6t6XmTXE
			oAanpYzP7ijtkNPaWQ4v0u6x3nidcIfXyGN9Km45hqTTg0JsSHDc
			vvgGebOqJtNK9idQLzG8zu9lE4N2wcW5kMb1gAJpl/MM3b32njqT
			tSfqMrLmp9nvgn/6dfhsPmuYphiloduGCGHbjgs5KtaVOmErLT15
			tUfzTqVcTl7boDSoH+5rvOptFX1RnXv1k5uLCmo3fhihhvcSr6/M
			Ot6YzN6OUzTOOfTRpuQ93da8d56FjN73VsKwm4mCqiyvf3/SumV+
			+nH+98TnG3GlX6aWNd710LyMJyVqSINwLmnp7c56RhKlSTKICumx
			+VQ2tN3IlrMWZ+4mJSaNxVPRDUo69rEjc5fIZGEHiRnZTecAc9mM
			YfzsMnJU6ec1Pj944CVJLWGMxXCHVHOGO+7Mv1GcI68rTImE6vmH
			vUq6Sn+jrxrhc5SyDav4wp5KeRGvGyo5VAVK7gvzeTuy0mrAzjvt
			8m6BWj0RT5FkkE2cJ+dRXdDcRRo5TvWx0GqxS+40nvqYP7li2EBq
			IUTJd4DxyT3KWc/7l2/JeVhFvXxmQvr8cfv0E3ED8lAH5fE5SYVg
			haCvC6qkz6OJYlktHm17qiZ8arvgbFZodSMOFgk9TfJx56XRsp65
			XNaBhEJ9oN24FwKC2pkQzHWRXiVF7kVPxRffGL6MPBQiIwsmbk9C
			C+0+xg8xU3pQJm7t8A8w8EnUr2u+tdo3lN1mBLvhDPybAiHnaj47
			vhdLtrmDO0zSfFQVaONohpFYcPE0GpbtYZ/1oJTbFshwCzv/U+Mt
			vW+ledN3L3jq6HbFWwFeJPEPZ9OxaZ5S3bSkOTO7yKfnTrCDckJV
			l9u4weoQXzXLHy0iT6aLjLlYufUaPaPzzFXyEyhgB3ONhdH8FEru
			V3TyAHsvgKxlsRkUeWri82xOZthQWTLRk329PitmS0hYqt/NFLcK
			tiMFQ0+Aw0zwu6z82YQHLylTfAQq4brU54O2ayHnabK/e/n10tAQ
			Z5yy6B4yh0iMFpRp8N9t789WjqqajmhbkWsk5+MeCIBIPJP0exAa
			cyNleKa7zSnxlSTHlXqO6q4XjfbaRw2FL3NYc3kcok9hC3wMcj74
			KJZb8OF4EG0XyKlhvbL2DU7WtNmdqLQHPJyw94SDj+OxOlPgZrJA
			ccfnmgOaB15oscDegolnNTalJNRqD+KP+rg76B9+JOsuyt9/oNsk
			qACqnRR4PzdubK1ykeihhAsCkpbPUCQLK6DEYPDVDVPDlXiImYF1
			COvwhqiggQenR5zHV5ofj/bvNDLllPbbSepo0Ft9B9VcCxhDb3sV
			mgVuDPQjpXvIzFr4N88n69S0tP0cg5x3//oU5xIKKW21fyiOHV/Z
			1I3nljYzj+hsSY0FztmV5Nfp2shHhYcS61xIp1I8Enl/77uxvrTk
			kzyGm3bnlwunyU0UpnjnR41gXENH4+ioBv+UJfkIcaq5zh4/3hQK
			gzjAs6c9d9zF3ghd75/1cUwt5kEwcQoxTmk/a9WgbJyJZ+/ZeZnF
			CtLbQd+wxwxBlrk6NxfOCRjl8MgX8A0eUgwXr/UKi4XZtyytN/to
			CYq5vrQ2vJ23N/aQ1/rH02RDw576ZZ6fF/ZE48UYE2vuFwVOBT2k
			15uuQIexkYtp8FkrvDFS1yummunwP3k/YDf3aAXTbjs+TYwiOSFq
			FesGX7YpzW+K/abTuUproQvwbHShqFVur+fsULzJFNYnvnzNbHUG
			MBhzqHalvluraV18/9aRFuQlZ2j0yaBn+qfQ7/HnNJMwyKbFU1O4
			fZYloxP35+kn6h2T0k2vqA3ylzlv9EaQX1OVLiaKpCEK5uIlvkAP
			ZZxL1/OIP+7tuW6lm3yowPrKhpbvUDp0DLQubCnhwbPWLIqhLL8t
			2cLHKnjeTYwtC9cPk915VGOpaxgCWufbr9f5lviBv0FRHiEoMI4u
			GXm8dKLCVM50+XzSk25/pz7q9e6he35MRvxXON060EmqBanjdiHT
			5CeeAQcrOUtQjrCLX1X1UdglvvWB3XKvnHL7/cBP+xYB3IVd3KHt
			p4ujP10EyyP79tnaJt8VhF7tHCxY7XFKMPUQ2YFkllzc5dKFeTGT
			wYy9Rmpl0dIx741foPyCriLdfW4L6r0/iryiwgwtS+d+g6z7MFwd
			6nZB39t7lWtcwCJqLksghT+7iVYQrcg6nqb7qGLQTzWMdQTzDc+r
			lJ20ecG1vi47Y1iRWHQEvcNS2lm8Qt8/m0tJDiySdMnYOCn0j6x0
			fqnnSXb8dnMeZZJLOcJcYJgO+aaI+8BTSEW+OvXg0prSKtOCegu+
			Rn3NVcH/5m4CuEKgq8J8i7hkSxX3ZVNdyxAn16l70z/sZgxc9FL7
			AbeUUGbzu+KYwuvfkpfpHOfkWkQex52MPZ3Y0C2e61B7ehWqEF2t
			m8poZKgmw64KMoUdcEiLshRVmcIlEtnjxOgnqr7iFKzD/Nq7zR+N
			WrxpiDbRTA1RDZKLVmg7yKO+oyoYBXmXGsRSbKQAYvzZvuZm+KEW
			m+Mriyi9KVUmyzD1gwwS9y4BdminVnOSC/o3H8C/8YP+H/C7Q/9H
			+gB3QkCxeLQzFOsI+A/44Oj0CmVuZHN0cmVhbQplbmRvYmoKMzMg
			MCBvYmoKNjk4NwplbmRvYmoKMzQgMCBvYmoKMTQ0NwplbmRvYmoK
			MzUgMCBvYmoKNTk3MQplbmRvYmoKMzYgMCBvYmoKNTQwCmVuZG9i
			agozNyAwIG9iagooTWFjIE9TIFggMTAuNy41IFF1YXJ0eiBQREZD
			b250ZXh0KQplbmRvYmoKMzggMCBvYmoKKExhVGVYaVQpCmVuZG9i
			agozOSAwIG9iagooRDoyMDEyMTEyNTA0NTg0MlowMCcwMCcpCmVu
			ZG9iagoxIDAgb2JqCjw8IC9Qcm9kdWNlciAzNyAwIFIgL0NyZWF0
			b3IgMzggMCBSIC9DcmVhdGlvbkRhdGUgMzkgMCBSIC9Nb2REYXRl
			IDM5IDAgUiA+PgplbmRvYmoKb2JqCjw8Ci9FbmNvZGluZyAvTWFj
			Um9tYW5FbmNvZGluZwovUHJlYW1ibGUgKEVTYW5ub3BFU3NsYXNo
			ZG9jdW1lbnRjbGFzc1sxMHB0XUVTbGVmdGJyYWNrYXJ0aWNsZUVT
			cmlnaHRicmFjawpFU3NsYXNodXNlcGFja2FnZVt1c2VuYW1lc11F
			U2xlZnRicmFja2NvbG9yRVNyaWdodGJyYWNrICV1c2VkIGZvciBm
			b250IGNvbG9yCkVTc2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJhY2th
			bXNzeW1iRVNyaWdodGJyYWNrICVtYXRocwpFU3NsYXNodXNlcGFj
			a2FnZUVTbGVmdGJyYWNrYW1zbWF0aEVTcmlnaHRicmFjayAlbWF0
			aHMKRVNzbGFzaHVzZXBhY2thZ2VbdXRmOF1FU2xlZnRicmFja2lu
			cHV0ZW5jRVNyaWdodGJyYWNrICV1c2VmdWwgdG8gdHlwZSBkaXJl
			Y3RseSBkaWFjcml0aWMgY2hhcmFjdGVycwpFU2Fubm9wZW5kKQov
			RXNjYXBlZFByZWFtYmxlIChFU2Fubm9lcCU1Q2RvY3VtZW50Y2xh
			c3MlNUIxMHB0JTVEJTdCYXJ0aWNsZSU3RCUwQSU1Q3VzZXBhY2th
			Z2UlNUJ1c2VuYW1lcyU1RCU3QmNvbG9yJTdEJTIwJTI1dXNlZCUy
			MGZvciUyMGZvbnQlMjBjb2xvciUwQSU1Q3VzZXBhY2thZ2UlN0Jh
			bXNzeW1iJTdEJTIwJTI1bWF0aHMlMEElNUN1c2VwYWNrYWdlJTdC
			YW1zbWF0aCU3RCUyMCUyNW1hdGhzJTBBJTVDdXNlcGFja2FnZSU1
			QnV0ZjglNUQlN0JpbnB1dGVuYyU3RCUyMCUyNXVzZWZ1bCUyMHRv
			JTIwdHlwZSUyMGRpcmVjdGx5JTIwZGlhY3JpdGljJTIwY2hhcmFj
			dGVycyUwQUVTYW5ub2VwZW5kKQovU3ViamVjdCAoRVNhbm5vdGVF
			U2Fubm90ZW5kKQovRXNjYXBlZFN1YmplY3QgKEVTYW5ub2VzZUVT
			YW5ub2VzZW5kKQovVHlwZSAoRUV0eXBlNEVFdHlwZWVuZCkKL0Nv
			bG9yIChFRWNvbDAuMDAwMDAwIDAuMDAwMDAwIDAuMDAwMDAwIDEu
			MDAwMDAwRUVjb2xlbmQpCi9CS0NvbG9yIChFRWJrYzEuMDAwMDAw
			IDEuMDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwRUVia2NlbmQpCi9U
			aXRsZSAoRUV0aXRsZUVFdGl0bGVlbmQpCi9NYWduaWZpY2F0aW9u
			IChFRW1hZzM2LjAwMDAwMEVFbWFnZW5kKQovQmFzZWxpbmUgKEVF
			YmFzMC4wMDAwMDBFRWJhc2VuZCkKPj4KZW5kb2JqCgp4cmVmCjAg
			NDAKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDE4MDMyIDAwMDAw
			IG4gCjAwMDAwMDAyMzUgMDAwMDAgbiAKMDAwMDAwMzI4MiAwMDAw
			MCBuIAowMDAwMDAwMDIyIDAwMDAwIG4gCjAwMDAwMDAyMTYgMDAw
			MDAgbiAKMDAwMDAwMDM1MSAwMDAwMCBuIAowMDAwMDAzMjQ2IDAw
			MDAwIG4gCjAwMDAwMTAzMTYgMDAwMDAgbiAKMDAwMDAwMDQ0OSAw
			MDAwMCBuIAowMDAwMDA3NjA3IDAwMDAwIG4gCjAwMDAwMDU2NDAg
			MDAwMDAgbiAKMDAwMDAwMzY3NiAwMDAwMCBuIAowMDAwMDAzNTg5
			IDAwMDAwIG4gCjAwMDAwMDM1MDIgMDAwMDAgbiAKMDAwMDAwMzQx
			NSAwMDAwMCBuIAowMDAwMDAwNTEwIDAwMDAwIG4gCjAwMDAwMDMy
			MjUgMDAwMDAgbiAKMDAwMDAwMzM2NSAwMDAwMCBuIAowMDAwMDA1
			NjA4IDAwMDAwIG4gCjAwMDAwMDk2NTAgMDAwMDAgbiAKMDAwMDAw
			OTgxMyAwMDAwMCBuIAowMDAwMDA5ODMyIDAwMDAwIG4gCjAwMDAw
			MDc1NzUgMDAwMDAgbiAKMDAwMDAxMDA5NCAwMDAwMCBuIAowMDAw
			MDEwMjU3IDAwMDAwIG4gCjAwMDAwMTAyNzYgMDAwMDAgbiAKMDAw
			MDAwOTYxOCAwMDAwMCBuIAowMDAwMDA5ODcyIDAwMDAwIG4gCjAw
			MDAwMTAwMzUgMDAwMDAgbiAKMDAwMDAxMDA1NCAwMDAwMCBuIAow
			MDAwMDEwNDg2IDAwMDAwIG4gCjAwMDAwMTA3MTggMDAwMDAgbiAK
			MDAwMDAxNzgyOSAwMDAwMCBuIAowMDAwMDE3ODUwIDAwMDAwIG4g
			CjAwMDAwMTc4NzEgMDAwMDAgbiAKMDAwMDAxNzg5MiAwMDAwMCBu
			IAowMDAwMDE3OTEyIDAwMDAwIG4gCjAwMDAwMTc5NjQgMDAwMDAg
			biAKMDAwMDAxNzk5MCAwMDAwMCBuIAp0cmFpbGVyCjw8IC9TaXpl
			IDQwIC9Sb290IDE4IDAgUiAvSW5mbyAxIDAgUiAvSUQgWyA8Mzhh
			ZTE2MjEwNWM1MzE2MzE5NDYyNDRiMDMxMTkzZWE+CjwzOGFlMTYy
			MTA1YzUzMTYzMTk0NjI0NGIwMzExOTNlYT4gXSA+PgpzdGFydHhy
			ZWYKMTkxOTAKJSVFT0aABdIuLzAxWCRjbGFzc2VzWiRjbGFzc25h
			bWWjMTIzXU5TTXV0YWJsZURhdGFWTlNEYXRhWE5TT2JqZWN00zUM
			Njc4OVxOU0F0dHJpYnV0ZXNYTlNTdHJpbmeACIAOgAdfENJcZG9j
			dW1lbnRjbGFzc1sxMHB0XXthcnRpY2xlfQpcdXNlcGFja2FnZVt1
			c2VuYW1lc117Y29sb3J9ICV1c2VkIGZvciBmb250IGNvbG9yClx1
			c2VwYWNrYWdle2Ftc3N5bWJ9ICVtYXRocwpcdXNlcGFja2FnZXth
			bXNtYXRofSAlbWF0aHMKXHVzZXBhY2thZ2VbdXRmOF17aW5wdXRl
			bmN9ICV1c2VmdWwgdG8gdHlwZSBkaXJlY3RseSBkaWFjcml0aWMg
			Y2hhcmFjdGVycwrTCzwMPT9BV05TLmtleXOhPoAKoUCACYANVk5T
			Rm9udNRERQxGR0hJSlZOU1NpemVWTlNOYW1lWE5TZkZsYWdzI0Ao
			AAAAAAAAgAuADBAQVk1vbmFjb9IuL01Ook4zVk5TRm9udNIuL1BR
			olEzXE5TRGljdGlvbmFyedIuL1NVolQzXxASTlNBdHRyaWJ1dGVk
			U3RyaW5nXxASTlNBdHRyaWJ1dGVkU3RyaW5n0zUMNjc4WYAIgA6A
			EFFl01xdDF5fYFVOU1JHQlxOU0NvbG9yU3BhY2VGMCAwIDAAEAGA
			EtIuL2JjomMzV05TQ29sb3LSDGVmZ1dOUy50aW1lgBQjQbZh3QJm
			AFzSLi9paqJqM1ZOU0RhdGVQ0i4vbXCjbm8zXxAPTGF0ZXhpdEVx
			dWF0aW9uXxAPTlNNYW5hZ2VkT2JqZWN0XxAPTGF0ZXhpdEVxdWF0
			aW9u0i4vcnOiczNXTlNBcnJheRIAAYagXxAPTlNLZXllZEFyY2hp
			dmVyAAgAEQAWAB8AKAAyADUAOgA8AFcAXQBiAG0AdAB2AHgAegCT
			AJkAqwC1ALsAxADJANEA2gDiAO0A8gD0APYA/wEBAQoBDAEOARAB
			EgEUARYBGAEeASMBK0/iT+RP6U/yT/1QAVAPUBZQH1AmUDNQPFA+
			UEBQQlEXUR5RJlEoUSpRLFEuUTBRN1FAUUdRTlFXUWBRYlFkUWZR
			bVFyUXVRfFGBUYRRkVGWUZlRrlHDUcpRzFHOUdBR0lHZUd9R7FHz
			UfVR91H8Uf9SB1IMUhRSFlIfUiRSJ1IuUi9SNFI4UkpSXFJuUnNS
			dlJ+UoMAAAAAAAACAQAAAAAAAAB2AAAAAAAAAAAAAAAAAABSlQ==
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverActionKey</key>
			<string>_Refresh</string>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-11-25 04:58:42 +0000</string>
	<key>Modifier</key>
	<string>Yoichi Hirai</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{513, 86}, {693, 922}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {558, 783}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
