<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559, 783}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2012-11-12 04:05:33 +0000</string>
	<key>Creator</key>
	<string>Yoichi Hirai</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{150.5, 313.5}, {30, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>Points</key>
			<array>
				<string>{143, 400}</string>
				<string>{143, 187}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>2.0000002384185791</real>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/latexit/index.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUIdHVUJHRvcFgkb2JqZWN0c1gkdmVyc2lv
			blkkYXJjaGl2ZXLRBgdUcm9vdIABrxAYCQoQKCktNDo7QkNLTE9S
			VlpbYWRoa2xxVSRudWxs0gsMDQ9aTlMub2JqZWN0c1YkY2xhc3Oh
			DoACgBfcERITFBUWFxgZDBobHB0eHyAhIiMkJSYnVWNvbG9yXxAP
			YmFja2dyb3VuZENvbG9yWXBvaW50U2l6ZVV0aXRsZVhiYXNlbGlu
			ZVRtb2RlV3ZlcnNpb25YcHJlYW1ibGVXcGRmRGF0YVpzb3VyY2VU
			ZXh0VGRhdGWAEYAAI0BCAAAAAAAAgBUjAAAAAAAAAAAQBIADgAaA
			BIAWgA+AE1UyLjUuMNIqDCssV05TLmRhdGFPEW29JVBERi0xLjMK
			JcTl8uXrp/Og0MTGCjQgMCBvYmoKPDwgL0xlbmd0aCA1IDAgUiAv
			RmlsdGVyIC9GbGF0ZURlY29kZSA+PgpzdHJlYW0KeAGNjsEKwjAQ
			RO9+xRz10O1mt4mbq+IHFAKepdSDUKHN/4MhDXqVPeyDGXizYsQK
			LqcMEWwz7nijv2aHKdeAkafSUQp7r/zOsQ0UvKITMaYY9TAtuCRE
			ikH2YkNlJoseQT2pM4e0oE+OGAWfOM4npBduqQ75TxIontXqmobK
			nrwORaJkok0iX8njJxk/bAUzBQplbmRzdHJlYW0KZW5kb2JqCjUg
			MCBvYmoKMTQ1CmVuZG9iagoyIDAgb2JqCjw8IC9UeXBlIC9QYWdl
			IC9QYXJlbnQgMyAwIFIgL1Jlc291cmNlcyA2IDAgUiAvQ29udGVu
			dHMgNCAwIFIgL01lZGlhQm94IFswIDAgMzAgMjJdCi9Bbm5vdHMg
			MTAgMCBSID4+CmVuZG9iago2IDAgb2JqCjw8IC9Qcm9jU2V0IFsg
			L1BERiAvVGV4dCBdIC9Db2xvclNwYWNlIDw8IC9DczEgNyAwIFIg
			Pj4gL0ZvbnQgPDwgL1QxLjAgOCAwIFIKL1QyLjAgOSAwIFIgPj4g
			Pj4KZW5kb2JqCjEwIDAgb2JqClsgMTEgMCBSIDEyIDAgUiAxMyAw
			IFIgMTQgMCBSIDE1IDAgUiAxNiAwIFIgXQplbmRvYmoKMTcgMCBv
			YmoKPDwgL0xlbmd0aCAxOCAwIFIgL04gMyAvQWx0ZXJuYXRlIC9E
			ZXZpY2VSR0IgL0ZpbHRlciAvRmxhdGVEZWNvZGUgPj4Kc3RyZWFt
			CngBnZZ3VFPZFofPvTe90BIiICX0GnoJINI7SBUEUYlJgFAChoQm
			dkQFRhQRKVZkVMABR4ciY0UUC4OCYtcJ8hBQxsFRREXl3YxrCe+t
			NfPemv3HWd/Z57fX2Wfvfde6AFD8ggTCdFgBgDShWBTu68FcEhPL
			xPcCGBABDlgBwOFmZgRH+EQC1Py9PZmZqEjGs/buLoBku9ssv1Am
			c9b/f5EiN0MkBgAKRdU2PH4mF+UClFOzxRky/wTK9JUpMoYxMhah
			CaKsIuPEr2z2p+Yru8mYlybkoRpZzhm8NJ6Mu1DemiXho4wEoVyY
			JeBno3wHZb1USZoA5fco09P4nEwAMBSZX8znJqFsiTJFFBnuifIC
			AAiUxDm8cg6L+TlongB4pmfkigSJSWKmEdeYaeXoyGb68bNT+WIx
			K5TDTeGIeEzP9LQMjjAXgK9vlkUBJVltmWiR7a0c7e1Z1uZo+b/Z
			3x5+U/09yHr7VfEm7M+eQYyeWd9s7KwvvRYA9iRamx2zvpVVALRt
			BkDl4axP7yAA8gUAtN6c8x6GbF6SxOIMJwuL7OxscwGfay4r6Df7
			n4Jvyr+GOfeZy+77VjumFz+BI0kVM2VF5aanpktEzMwMDpfPZP33
			EP/jwDlpzcnDLJyfwBfxhehVUeiUCYSJaLuFPIFYkC5kCoR/1eF/
			GDYnBxl+nWsUaHVfAH2FOVC4SQfIbz0AQyMDJG4/egJ961sQMQrI
			vrxorZGvc48yev7n+h8LXIpu4UxBIlPm9gyPZHIloiwZo9+EbMEC
			EpAHdKAKNIEuMAIsYA0cgDNwA94gAISASBADlgMuSAJpQASyQT7Y
			AApBMdgBdoNqcADUgXrQBE6CNnAGXARXwA1wCwyAR0AKhsFLMAHe
			gWkIgvAQFaJBqpAWpA+ZQtYQG1oIeUNBUDgUA8VDiZAQkkD50Cao
			GCqDqqFDUD30I3Qaughdg/qgB9AgNAb9AX2EEZgC02EN2AC2gNmw
			OxwIR8LL4ER4FZwHF8Db4Uq4Fj4Ot8IX4RvwACyFX8KTCEDICAPR
			RlgIG/FEQpBYJAERIWuRIqQCqUWakA6kG7mNSJFx5AMGh6FhmBgW
			xhnjh1mM4WJWYdZiSjDVmGOYVkwX5jZmEDOB+YKlYtWxplgnrD92
			CTYRm40txFZgj2BbsJexA9hh7DscDsfAGeIccH64GFwybjWuBLcP
			14y7gOvDDeEm8Xi8Kt4U74IPwXPwYnwhvgp/HH8e348fxr8nkAla
			BGuCDyGWICRsJFQQGgjnCP2EEcI0UYGoT3QihhB5xFxiKbGO2EG8
			SRwmTpMUSYYkF1IkKZm0gVRJaiJdJj0mvSGTyTpkR3IYWUBeT64k
			nyBfJQ+SP1CUKCYUT0ocRULZTjlKuUB5QHlDpVINqG7UWKqYup1a
			T71EfUp9L0eTM5fzl+PJrZOrkWuV65d7JU+U15d3l18unydfIX9K
			/qb8uAJRwUDBU4GjsFahRuG0wj2FSUWaopViiGKaYolig+I1xVEl
			vJKBkrcST6lA6bDSJaUhGkLTpXnSuLRNtDraZdowHUc3pPvTk+nF
			9B/ovfQJZSVlW+Uo5RzlGuWzylIGwjBg+DNSGaWMk4y7jI/zNOa5
			z+PP2zavaV7/vCmV+SpuKnyVIpVmlQGVj6pMVW/VFNWdqm2qT9Qw
			aiZqYWrZavvVLquNz6fPd57PnV80/+T8h+qwuol6uPpq9cPqPeqT
			GpoavhoZGlUalzTGNRmabprJmuWa5zTHtGhaC7UEWuVa57VeMJWZ
			7sxUZiWzizmhra7tpy3RPqTdqz2tY6izWGejTrPOE12SLls3Qbdc
			t1N3Qk9LL1gvX69R76E+UZ+tn6S/R79bf8rA0CDaYItBm8GooYqh
			v2GeYaPhYyOqkavRKqNaozvGOGO2cYrxPuNbJrCJnUmSSY3JTVPY
			1N5UYLrPtM8Ma+ZoJjSrNbvHorDcWVmsRtagOcM8yHyjeZv5Kws9
			i1iLnRbdFl8s7SxTLessH1kpWQVYbbTqsPrD2sSaa11jfceGauNj
			s86m3ea1rakt33a/7X07ml2w3Ra7TrvP9g72Ivsm+zEHPYd4h70O
			99h0dii7hH3VEevo4bjO8YzjByd7J7HTSaffnVnOKc4NzqMLDBfw
			F9QtGHLRceG4HHKRLmQujF94cKHUVduV41rr+sxN143ndsRtxN3Y
			Pdn9uPsrD0sPkUeLx5Snk+cazwteiJevV5FXr7eS92Lvau+nPjo+
			iT6NPhO+dr6rfS/4Yf0C/Xb63fPX8Of61/tPBDgErAnoCqQERgRW
			Bz4LMgkSBXUEw8EBwbuCHy/SXyRc1BYCQvxDdoU8CTUMXRX6cxgu
			LDSsJux5uFV4fnh3BC1iRURDxLtIj8jSyEeLjRZLFndGyUfFRdVH
			TUV7RZdFS5dYLFmz5EaMWowgpj0WHxsVeyR2cqn30t1Lh+Ps4grj
			7i4zXJaz7NpyteWpy8+ukF/BWXEqHhsfHd8Q/4kTwqnlTK70X7l3
			5QTXk7uH+5LnxivnjfFd+GX8kQSXhLKE0USXxF2JY0muSRVJ4wJP
			QbXgdbJf8oHkqZSQlKMpM6nRqc1phLT4tNNCJWGKsCtdMz0nvS/D
			NKMwQ7rKadXuVROiQNGRTChzWWa7mI7+TPVIjCSbJYNZC7Nqst5n
			R2WfylHMEeb05JrkbssdyfPJ+341ZjV3dWe+dv6G/ME17msOrYXW
			rlzbuU53XcG64fW+649tIG1I2fDLRsuNZRvfbore1FGgUbC+YGiz
			7+bGQrlCUeG9Lc5bDmzFbBVs7d1ms61q25ciXtH1YsviiuJPJdyS
			699ZfVf53cz2hO29pfal+3fgdgh33N3puvNYmWJZXtnQruBdreXM
			8qLyt7tX7L5WYVtxYA9pj2SPtDKosr1Kr2pH1afqpOqBGo+a5r3q
			e7ftndrH29e/321/0wGNA8UHPh4UHLx/yPdQa61BbcVh3OGsw8/r
			ouq6v2d/X39E7Ujxkc9HhUelx8KPddU71Nc3qDeUNsKNksax43HH
			b/3g9UN7E6vpUDOjufgEOCE58eLH+B/vngw82XmKfarpJ/2f9rbQ
			Wopaodbc1om2pDZpe0x73+mA050dzh0tP5v/fPSM9pmas8pnS8+R
			zhWcmzmfd37yQsaF8YuJF4c6V3Q+urTk0p2usK7ey4GXr17xuXKp
			2737/FWXq2euOV07fZ19ve2G/Y3WHruell/sfmnpte9tvelws/2W
			462OvgV95/pd+y/e9rp95Y7/nRsDiwb67i6+e/9e3D3pfd790Qep
			D14/zHo4/Wj9Y+zjoicKTyqeqj+t/dX412apvfTsoNdgz7OIZ4+G
			uEMv/5X5r0/DBc+pzytGtEbqR61Hz4z5jN16sfTF8MuMl9Pjhb8p
			/rb3ldGrn353+71nYsnE8GvR65k/St6ovjn61vZt52To5NN3ae+m
			p4req74/9oH9oftj9MeR6exP+E+Vn40/d3wJ/PJ4Jm1m5t/3hPP7
			CmVuZHN0cmVhbQplbmRvYmoKMTggMCBvYmoKMjYxMgplbmRvYmoK
			NyAwIG9iagpbIC9JQ0NCYXNlZCAxNyAwIFIgXQplbmRvYmoKMyAw
			IG9iago8PCAvVHlwZSAvUGFnZXMgL01lZGlhQm94IFswIDAgNjEy
			IDc5Ml0gL0NvdW50IDEgL0tpZHMgWyAyIDAgUiBdID4+CmVuZG9i
			agoxOSAwIG9iago8PCAvVHlwZSAvQ2F0YWxvZyAvUGFnZXMgMyAw
			IFIgPj4KZW5kb2JqCjE2IDAgb2JqCjw8IC9TdWJ0eXBlIC9Qb3B1
			cCAvUmVjdCBbIDQgMCAxMzIgNjQgXSAvUGFyZW50IDEzIDAgUiAv
			VHlwZSAvQW5ub3QgPj4KZW5kb2JqCjE1IDAgb2JqCjw8IC9TdWJ0
			eXBlIC9Qb3B1cCAvUmVjdCBbIDQgMCAxMzIgNjQgXSAvUGFyZW50
			IDEyIDAgUiAvVHlwZSAvQW5ub3QgPj4KZW5kb2JqCjE0IDAgb2Jq
			Cjw8IC9TdWJ0eXBlIC9Qb3B1cCAvUmVjdCBbIDQgMCAxMzIgNjQg
			XSAvUGFyZW50IDExIDAgUiAvVHlwZSAvQW5ub3QgPj4KZW5kb2Jq
			CjEzIDAgb2JqCjw8IC9UIChmci5jaGFjaGF0ZWxpZXIucGllcnJl
			LkxhVGVYaVQpIC9Qb3B1cCAxNiAwIFIgL1JlY3QgWyAwIDAgMCAw
			IF0gL0FQCjIwIDAgUiAvQ29udGVudHMgKFluQnNhWE4wTUREVUFR
			SURCQVVJUUVGVUpIUnZjRmdrYjJKcVpXTjBjMWdrZG1WeWMybHZi
			bGtrWVhKamFHbDJcMDEyWlhMUkJnZFVjbTl2ZElBQnJ4QVVDUW9o
			SWlNa0pTWW5LQ2txS3k4Mk9UbzdQRDFWSkc1MWJHelRDd3dORGhj
			Z1wwMTJXazVUTG05aWFtVmpkSE5YVGxNdWEyVjVjMVlrWTJ4aGMz
			T29EeEFSRWhNVUZSYUFDb0FMZ0F5QURvQVBnQkNBXDAxMkVZQVNx
			QmdaR2hzY0hSNGZnQUtBQTRBRWdBV0FCb0FIZ0FpQUNZQVRWWFJw
			ZEd4bFdIQnlaV0Z0WW14bFh4QVBcMDEyWW1GamEyZHliM1Z1WkVO
			dmJHOXlWV052Ykc5eVZuTnZkWEpqWlZSdGIyUmxXR0poYzJWc2FX
			NWxYVzFoWjI1cFwwMTJabWxqWVhScGIyNVFYeERTWEdSdlkzVnRa
			VzUwWTJ4aGMzTmJNVEJ3ZEYxN1lYSjBhV05zWlgwS1hIVnpaWEJo
			XDAxMlkydGhaMlZiZFhObGJtRnRaWE5kZTJOdmJHOXlmU0FsZFhO
			bFpDQm1iM0lnWm05dWRDQmpiMnh2Y2dwY2RYTmxcMDEyY0dGamEy
			Rm5aWHRoYlhOemVXMWlmU0FsYldGMGFITUtYSFZ6WlhCaFkydGha
			MlY3WVcxemJXRjBhSDBnSlcxaFwwMTJkR2h6Q2x4MWMyVndZV05y
			WVdkbFczVjBaamhkZTJsdWNIVjBaVzVqZlNBbGRYTmxablZzSUhS
			dklIUjVjR1VnXDAxMlpHbHlaV04wYkhrZ1pHbGhZM0pwZEdsaklH
			Tm9ZWEpoWTNSbGNuTUswaXdOTFM1WFRsTXVaR0YwWVU4UTdXSndc
			MDEyYkdsemREQXcxQUVDQXdRRkNCY1lWQ1IwYjNCWUpHOWlhbVZq
			ZEhOWUpIWmxjbk5wYjI1WkpHRnlZMmhwZG1WeVwwMTIwUVlIVkhK
			dmIzU0FBYU1KQ2hGVkpHNTFiR3pUQ3d3TkRnOFFWMDVUVjJocGRH
			VmNUbE5EYjJ4dmNsTndZV05sXDAxMlZpUmpiR0Z6YzBJeEFCQURn
			QUxTRWhNVUZWZ2tZMnhoYzNObGMxb2tZMnhoYzNOdVlXMWxvaFVX
			VjA1VFEyOXNcMDEyYjNKWVRsTlBZbXBsWTNRU0FBR0dvRjhRRDA1
			VFMyVjVaV1JCY21Ob2FYWmxjZ2dSRmg4b01qVTZQRUJHVFZWaVww
			MTJhV3h1Y0hWK2lZeVVuYUlBQUFBQUFBQUJBUUFBQUFBQUFBQVpB
			QUFBQUFBQUFBQUFBQUFBQUFBQXRJQU4wakF4XDAxMk1qTllKR05z
			WVhOelpYTmFKR05zWVhOemJtRnRaYU16TkRWZFRsTk5kWFJoWW14
			bFJHRjBZVlpPVTBSaGRHRllcMDEyVGxOUFltcGxZM1RTTEEwM0xr
			OFE3Mkp3YkdsemREQXcxQUVDQXdRRkNCY1lWQ1IwYjNCWUpHOWlh
			bVZqZEhOWVwwMTJKSFpsY25OcGIyNVpKR0Z5WTJocGRtVnkwUVlI
			VkhKdmIzU0FBYU1KQ2hGVkpHNTFiR3pUQ3d3TkRnOFFWVTVUXDAx
			MlVrZENYRTVUUTI5c2IzSlRjR0ZqWlZZa1kyeGhjM05HTUNBd0lE
			QUFFQUdBQXRJU0V4UVZXQ1JqYkdGemMyVnpcMDEyV2lSamJHRnpj
			MjVoYldXaUZSWlhUbE5EYjJ4dmNsaE9VMDlpYW1WamRCSUFBWWFn
			WHhBUFRsTkxaWGxsWkVGeVwwMTJZMmhwZG1WeUNCRVdIeWd5TlRv
			OFFFWk5VMkJuYm5CeWQ0Q0xqcGFmcEFBQUFBQUFBQUVCQUFBQUFB
			QUFBQmtBXDAxMkFBQUFBQUFBQUFBQUFBQUFBQUMyZ0ExVFpWOWhF
			QVFqQUFBQUFBQUFBQUFqUUVJQUFBQUFBQURTTURFK1A2SS9cMDEy
			TlZ4T1UwUnBZM1JwYjI1aGNua1NBQUdHb0Y4UUQwNVRTMlY1WldS
			QmNtTm9hWFpsY2dBSUFCRUFGZ0FmQUNnQVwwMTJNZ0ExQURvQVBB
			QlRBRmtBWUFCckFITUFlZ0NEQUlVQWh3Q0pBSXNBalFDUEFKRUFr
			d0NjQUo0QW9BQ2lBS1FBXDAxMnBnQ29BS29BckFDdUFMUUF2UURQ
			QU5VQTNBRGhBT29BK0FENUFjNEIwd0hiQXNzQ3pRTFNBdHNDNWdM
			cUF2Z0NcMDEyL3dNSUF3MEQvd1FCQkFVRUJ3UVFCQmtFSGdRaEJD
			NEVNd0FBQUFBQUFBSUJBQUFBQUFBQUFFSUFBQUFBQUFBQVwwMTJB
			QUFBQUFBQUFBUkZcMDEyKQovRiAzMiAvU3VidHlwZSAvVGV4dCAv
			VHlwZSAvQW5ub3QgPj4KZW5kb2JqCjIwIDAgb2JqCjw8IC9OIDIx
			IDAgUiA+PgplbmRvYmoKMTIgMCBvYmoKPDwgL1QgKGZyLmNoYWNo
			YXRlbGllci5waWVycmUuTGFUZVhpVCkgL1BvcHVwIDE1IDAgUiAv
			UmVjdCBbIDAgLTI0IDI0IDAgXQovQVAgMjQgMCBSIC9Db250ZW50
			cyAoWW5Cc2FYTjBNRERVQVFJREJBVUlRRUZVSkhSdmNGZ2tiMkpx
			WldOMGMxZ2tkbVZ5YzJsdmJsa2tZWEpqYUdsMlwwMTJaWExSQmdk
			VWNtOXZkSUFCcnhBVUNRb2hJaU1rSlNZbktDa3FLeTgyT1RvN1BE
			MVZKRzUxYkd6VEN3d05EaGNnXDAxMldrNVRMbTlpYW1WamRITlhU
			bE11YTJWNWMxWWtZMnhoYzNPb0R4QVJFaE1VRlJhQUNvQUxnQXlB
			RG9BUGdCQ0FcMDEyRVlBU3FCZ1pHaHNjSFI0ZmdBS0FBNEFFZ0FX
			QUJvQUhnQWlBQ1lBVFZYUnBkR3hsV0hCeVpXRnRZbXhsWHhBUFww
			MTJZbUZqYTJkeWIzVnVaRU52Ykc5eVZXTnZiRzl5Vm5OdmRYSmpa
			VlJ0YjJSbFdHSmhjMlZzYVc1bFhXMWhaMjVwXDAxMlptbGpZWFJw
			YjI1UVh4RFNYR1J2WTNWdFpXNTBZMnhoYzNOYk1UQndkRjE3WVhK
			MGFXTnNaWDBLWEhWelpYQmhcMDEyWTJ0aFoyVmJkWE5sYm1GdFpY
			TmRlMk52Ykc5eWZTQWxkWE5sWkNCbWIzSWdabTl1ZENCamIyeHZj
			Z3BjZFhObFwwMTJjR0ZqYTJGblpYdGhiWE56ZVcxaWZTQWxiV0Yw
			YUhNS1hIVnpaWEJoWTJ0aFoyVjdZVzF6YldGMGFIMGdKVzFoXDAx
			MmRHaHpDbHgxYzJWd1lXTnJZV2RsVzNWMFpqaGRlMmx1Y0hWMFpX
			NWpmU0FsZFhObFpuVnNJSFJ2SUhSNWNHVWdcMDEyWkdseVpXTjBi
			SGtnWkdsaFkzSnBkR2xqSUdOb1lYSmhZM1JsY25NSzBpd05MUzVY
			VGxNdVpHRjBZVThRN1dKd1wwMTJiR2x6ZERBdzFBRUNBd1FGQ0Jj
			WVZDUjBiM0JZSkc5aWFtVmpkSE5ZSkhabGNuTnBiMjVaSkdGeVky
			aHBkbVZ5XDAxMjBRWUhWSEp2YjNTQUFhTUpDaEZWSkc1MWJHelRD
			d3dORGc4UVYwNVRWMmhwZEdWY1RsTkRiMnh2Y2xOd1lXTmxcMDEy
			VmlSamJHRnpjMEl4QUJBRGdBTFNFaE1VRlZna1kyeGhjM05sYzFv
			a1kyeGhjM051WVcxbG9oVVdWMDVUUTI5c1wwMTJiM0pZVGxOUFlt
			cGxZM1FTQUFHR29GOFFEMDVUUzJWNVpXUkJjbU5vYVhabGNnZ1JG
			aDhvTWpVNlBFQkdUVlZpXDAxMmFXeHVjSFYraVl5VW5hSUFBQUFB
			QUFBQkFRQUFBQUFBQUFBWkFBQUFBQUFBQUFBQUFBQUFBQUFBdElB
			TjBqQXhcMDEyTWpOWUpHTnNZWE56WlhOYUpHTnNZWE56Ym1GdFph
			TXpORFZkVGxOTmRYUmhZbXhsUkdGMFlWWk9VMFJoZEdGWVwwMTJU
			bE5QWW1wbFkzVFNMQTAzTGs4UTcySndiR2x6ZERBdzFBRUNBd1FG
			Q0JjWVZDUjBiM0JZSkc5aWFtVmpkSE5ZXDAxMkpIWmxjbk5wYjI1
			WkpHRnlZMmhwZG1WeTBRWUhWSEp2YjNTQUFhTUpDaEZWSkc1MWJH
			elRDd3dORGc4UVZVNVRcMDEyVWtkQ1hFNVRRMjlzYjNKVGNHRmpa
			VllrWTJ4aGMzTkdNQ0F3SURBQUVBR0FBdElTRXhRVldDUmpiR0Z6
			YzJWelwwMTJXaVJqYkdGemMyNWhiV1dpRlJaWFRsTkRiMnh2Y2xo
			T1UwOWlhbVZqZEJJQUFZYWdYeEFQVGxOTFpYbGxaRUZ5XDAxMlky
			aHBkbVZ5Q0JFV0h5Z3lOVG84UUVaTlUyQm5ibkJ5ZDRDTGpwYWZw
			QUFBQUFBQUFBRUJBQUFBQUFBQUFCa0FcMDEyQUFBQUFBQUFBQUFB
			QUFBQUFBQzJnQTFUWlY5aEVBUWpBQUFBQUFBQUFBQWpRRUlBQUFB
			QUFBRFNNREUrUDZJL1wwMTJOVnhPVTBScFkzUnBiMjVoY25rU0FB
			R0dvRjhRRDA1VFMyVjVaV1JCY21Ob2FYWmxjZ0FJQUJFQUZnQWZB
			Q2dBXDAxMk1nQTFBRG9BUEFCVEFGa0FZQUJyQUhNQWVnQ0RBSVVB
			aHdDSkFJc0FqUUNQQUpFQWt3Q2NBSjRBb0FDaUFLUUFcMDEycGdD
			b0FLb0FyQUN1QUxRQXZRRFBBTlVBM0FEaEFPb0ErQUQ1QWM0QjB3
			SGJBc3NDelFMU0F0c0M1Z0xxQXZnQ1wwMTIvd01JQXcwRC93UUJC
			QVVFQndRUUJCa0VIZ1FoQkM0RU13QUFBQUFBQUFJQkFBQUFBQUFB
			QUVJQUFBQUFBQUFBXDAxMkFBQUFBQUFBQUFSRlwwMTIpCi9GIDMy
			IC9TdWJ0eXBlIC9UZXh0IC9UeXBlIC9Bbm5vdCA+PgplbmRvYmoK
			MjQgMCBvYmoKPDwgL04gMjUgMCBSID4+CmVuZG9iagoxMSAwIG9i
			ago8PCAvVCAoZnIuY2hhY2hhdGVsaWVyLnBpZXJyZS5MYVRlWGlU
			KSAvUG9wdXAgMTQgMCBSIC9SZWN0IFsgMCAtMjQgMjQgMCBdCi9B
			UCAyOCAwIFIgL0NvbnRlbnRzIChZbkJzYVhOME1ERFVBUUlEQkFV
			SVJVWlVKSFJ2Y0Zna2IySnFaV04wYzFna2RtVnljMmx2Ymxra1lY
			SmphR2wyXDAxMlpYTFJCZ2RVY205dmRJQUJyeEFUQ1FvZklDRWlJ
			eVFsSmlveE5UazhQMEJCUWxVa2JuVnNiTk1MREEwT0ZoNWFcMDEy
			VGxNdWIySnFaV04wYzFkT1V5NXJaWGx6VmlSamJHRnpjNmNQRUJF
			U0V4UVZnQW1BQzRBTmdBNkFENEFRZ0JHblwwMTJGeGdaR2hzY0hZ
			QUNnQU9BQklBRmdBYUFCNEFJZ0JKWWNISmxZVzFpYkdWZkVBOWlZ
			V05yWjNKdmRXNWtRMjlzXDAxMmIzSlZZMjlzYjNKV2MyOTFjbU5s
			VkcxdlpHVllZbUZ6Wld4cGJtVmRiV0ZuYm1sbWFXTmhkR2x2YnRJ
			bkRTZ3BcMDEyV1U1VExuTjBjbWx1WjE4UTBseGtiMk4xYldWdWRH
			TnNZWE56V3pFd2NIUmRlMkZ5ZEdsamJHVjlDbHgxYzJWd1wwMTJZ
			V05yWVdkbFczVnpaVzVoYldWelhYdGpiMnh2Y24wZ0pYVnpaV1Fn
			Wm05eUlHWnZiblFnWTI5c2IzSUtYSFZ6XDAxMlpYQmhZMnRoWjJW
			N1lXMXpjM2x0WW4wZ0pXMWhkR2h6Q2x4MWMyVndZV05yWVdkbGUy
			RnRjMjFoZEdoOUlDVnRcMDEyWVhSb2N3cGNkWE5sY0dGamEyRm5a
			VnQxZEdZNFhYdHBibkIxZEdWdVkzMGdKWFZ6WldaMWJDQjBieUIw
			ZVhCbFwwMTJJR1JwY21WamRHeDVJR1JwWVdOeWFYUnBZeUJqYUdG
			eVlXTjBaWEp6Q29BSzBpc3NMUzVZSkdOc1lYTnpaWE5hXDAxMkpH
			TnNZWE56Ym1GdFphTXVMekJmRUE5T1UwMTFkR0ZpYkdWVGRISnBi
			bWRZVGxOVGRISnBibWRZVGxOUFltcGxcMDEyWTNUU01nMHpORmRP
			VXk1a1lYUmhUeER0WW5Cc2FYTjBNRERVQVFJREJBVUlGeGhVSkhS
			dmNGZ2tiMkpxWldOMFwwMTJjMWdrZG1WeWMybHZibGtrWVhKamFH
			bDJaWExSQmdkVWNtOXZkSUFCb3drS0VWVWtiblZzYk5NTERBME9E
			eEJYXDAxMlRsTlhhR2wwWlZ4T1UwTnZiRzl5VTNCaFkyVldKR05z
			WVhOelFqRUFFQU9BQXRJU0V4UVZXQ1JqYkdGemMyVnpcMDEyV2lS
			amJHRnpjMjVoYldXaUZSWlhUbE5EYjJ4dmNsaE9VMDlpYW1WamRC
			SUFBWWFnWHhBUFRsTkxaWGxsWkVGeVwwMTJZMmhwZG1WeUNCRVdI
			eWd5TlRvOFFFWk5WV0pwYkc1d2RYNkpqSlNkb2dBQUFBQUFBQUVC
			QUFBQUFBQUFBQmtBXDAxMkFBQUFBQUFBQUFBQUFBQUFBQUMwZ0F6
			U0t5dzJONk0zT0RCZFRsTk5kWFJoWW14bFJHRjBZVlpPVTBSaGRH
			SFNcMDEyTWcwNk5FOFE3Mkp3YkdsemREQXcxQUVDQXdRRkNCY1lW
			Q1IwYjNCWUpHOWlhbVZqZEhOWUpIWmxjbk5wYjI1WlwwMTJKR0Z5
			WTJocGRtVnkwUVlIVkhKdmIzU0FBYU1KQ2hGVkpHNTFiR3pUQ3d3
			TkRnOFFWVTVUVWtkQ1hFNVRRMjlzXDAxMmIzSlRjR0ZqWlZZa1ky
			eGhjM05HTUNBd0lEQUFFQUdBQXRJU0V4UVZXQ1JqYkdGemMyVnpX
			aVJqYkdGemMyNWhcMDEyYldXaUZSWlhUbE5EYjJ4dmNsaE9VMDlp
			YW1WamRCSUFBWWFnWHhBUFRsTkxaWGxsWkVGeVkyaHBkbVZ5Q0JF
			V1wwMTJIeWd5TlRvOFFFWk5VMkJuYm5CeWQ0Q0xqcGFmcEFBQUFB
			QUFBQUVCQUFBQUFBQUFBQmtBQUFBQUFBQUFBQUFBXDAxMkFBQUFB
			QUMyZ0F6U0p3MDlLVk5sWDJHQUNoQUVJd0FBQUFBQUFBQUFJMEJD
			QUFBQUFBQUEwaXNzUTBTaVJEQmNcMDEyVGxORWFXTjBhVzl1WVhK
			NUVnQUJocUJmRUE5T1UwdGxlV1ZrUVhKamFHbDJaWElBQ0FBUkFC
			WUFId0FvQURJQVwwMTJOUUE2QUR3QVVnQllBRjhBYWdCeUFIa0Fn
			UUNEQUlVQWh3Q0pBSXNBalFDUEFKY0FtUUNiQUowQW53Q2hBS01B
			XDAxMnBRQ25BTEFBd2dESUFNOEExQURkQU9zQThBRDZBYzhCMFFI
			V0FkOEI2Z0h1QWdBQ0NRSVNBaGNDSHdNUEF4RURcMDEyRmdNYUF5
			Z0RMd00wQkNZRUtBUXRCREVFTXdRMUJENEVSd1JNQkU4RVhBUmhB
			QUFBQUFBQUFnRUFBQUFBQUFBQVwwMTJSd0FBQUFBQUFBQUFBQUFB
			QUFBQUJITT1cMDEyKQovRiAzMiAvU3VidHlwZSAvVGV4dCAvVHlw
			ZSAvQW5ub3QgPj4KZW5kb2JqCjI4IDAgb2JqCjw8IC9OIDI5IDAg
			UiA+PgplbmRvYmoKMjkgMCBvYmoKPDwgL0xlbmd0aCAzMCAwIFIg
			L0ZpbHRlciAvRmxhdGVEZWNvZGUgL1R5cGUgL1hPYmplY3QgL1N1
			YnR5cGUgL0Zvcm0gL0Zvcm1UeXBlCjEgL0JCb3ggWzAgMCAwIDBd
			IC9SZXNvdXJjZXMgMzEgMCBSID4+CnN0cmVhbQp4AStUCAQAAecA
			4wplbmRzdHJlYW0KZW5kb2JqCjMwIDAgb2JqCjExCmVuZG9iagoz
			MSAwIG9iago8PCAvUHJvY1NldCBbIC9QREYgXSA+PgplbmRvYmoK
			MjUgMCBvYmoKPDwgL0xlbmd0aCAyNiAwIFIgL0ZpbHRlciAvRmxh
			dGVEZWNvZGUgL1R5cGUgL1hPYmplY3QgL1N1YnR5cGUgL0Zvcm0g
			L0Zvcm1UeXBlCjEgL0JCb3ggWzAgMCAwIDBdIC9SZXNvdXJjZXMg
			MjcgMCBSID4+CnN0cmVhbQp4AStUCAQAAecA4wplbmRzdHJlYW0K
			ZW5kb2JqCjI2IDAgb2JqCjExCmVuZG9iagoyNyAwIG9iago8PCAv
			UHJvY1NldCBbIC9QREYgXSA+PgplbmRvYmoKMjEgMCBvYmoKPDwg
			L0xlbmd0aCAyMiAwIFIgL0ZpbHRlciAvRmxhdGVEZWNvZGUgL1R5
			cGUgL1hPYmplY3QgL1N1YnR5cGUgL0Zvcm0gL0Zvcm1UeXBlCjEg
			L0JCb3ggWzAgMCAwIDBdIC9SZXNvdXJjZXMgMjMgMCBSID4+CnN0
			cmVhbQp4AStUCAQAAecA4wplbmRzdHJlYW0KZW5kb2JqCjIyIDAg
			b2JqCjExCmVuZG9iagoyMyAwIG9iago8PCAvUHJvY1NldCBbIC9Q
			REYgXSA+PgplbmRvYmoKOSAwIG9iago8PCAvVHlwZSAvRm9udCAv
			U3VidHlwZSAvVHlwZTEgL0Jhc2VGb250IC9SVVFTRkMrQ01NSTcg
			L0ZvbnREZXNjcmlwdG9yIDMyIDAgUgovRW5jb2RpbmcgL01hY1Jv
			bWFuRW5jb2RpbmcgL0ZpcnN0Q2hhciA5NyAvTGFzdENoYXIgOTcg
			L1dpZHRocyBbIDYxOSBdID4+CmVuZG9iagozMiAwIG9iago8PCAv
			VHlwZSAvRm9udERlc2NyaXB0b3IgL0ZvbnROYW1lIC9SVVFTRkMr
			Q01NSTcgL0ZsYWdzIDMyIC9Gb250QkJveCBbLTMzIC0yODIgMTIw
			MyA3ODJdCi9JdGFsaWNBbmdsZSAtMTQgL0FzY2VudCA3NTAgL0Rl
			c2NlbnQgLTI1MCAvQ2FwSGVpZ2h0IDY2NiAvU3RlbVYgODEgL1hI
			ZWlnaHQKNTAwIC9TdGVtSCAzMiAvTWF4V2lkdGggMTIzNCAvRm9u
			dEZpbGUgMzMgMCBSID4+CmVuZG9iagozMyAwIG9iago8PCAvTGVu
			Z3RoIDM0IDAgUiAvTGVuZ3RoMSAzNSAwIFIgL0xlbmd0aDIgMzYg
			MCBSIC9MZW5ndGgzIDM3IDAgUiAvRmlsdGVyCi9GbGF0ZURlY29k
			ZSA+PgpzdHJlYW0KeAHtdHVYFN62NimIAiLdQwxdQ3eDdKfkMAww
			xAwxNEhIIyFICYgg3V0SUtIgiLSiSEhJSscd9Hd+557zfd9zvr/v
			c2eeZ2bvtd619l5rve8GMujoc8vZImygygg4khvEwycOUNDUVBUB
			8PEJ8PDx8eMBgQYwpDP0LzMe0Ajq7gFDwMX/G0DBHQpGomyKYCQK
			p4mAA9Q8nQEgAQBIWBwkIs7HB+Dn4xNDZfoNRLiLAxTBXjBbgCYP
			QA0Bh3rgARUQrr7uMHsHJOqYfywBbBB2AEhMTITrdzhAzgXqDoOA
			4QBNMNIB6oI6EQJ2BugjIDAo0vdfUrBJOiCRruK8vN7e3jxgFw8e
			hLu9NDsXwBuGdADoQT2g7l5QW8BtwQAtsAv0T8E8eECAgQPM449d
			H2GH9Aa7QwEogzMMAoV7oCI84bZQdwDqcIC+qgZA2xUK/wPW+APg
			AvzVGwCIB/R3ur+ibxPB4L+DwRAIwsUVDPeFwe0BdjBnKEBbWYMH
			6YPkAoDhtrdAsLMHAnUdsBcY5gy2QQF+3xwMUJbTBYBRPfqrPA+I
			O8wV6cHjAXO+LZH3Ng2qy0pwWwWEiwsUjvTAuy1SEeYOhSAR7r68
			fybrBEd4w/3/2tjB4LZ2t52w9XTlNYTD3DyhqoqAPxCUCe+fNnso
			EiDEJyoiIMoPgLoBoD4QB97b9Aa+rlDArRN0a0ZVEOjvinAF2KGK
			gAbC7KCoPzx/D7AXFIB094QG+v93x7/u8EAggC0MggTYQO1hcLx/
			ZkeZoXZ/9qjhu8N8AGZ8KHKCAHy3379XFige2iLgzr7/hP+eL6+C
			go6ekTHnn/L/TiUvj/AB+HODANz8QnwAEEgEBBBBLQL/NcvfPflH
			7b/jdcCwvyrn++dhqnA7BACEMtzWgGreP+rw+iMZANtfmmIH/OsR
			WggUl6EAtn9S35xPiA+C+gH9fwsAcBvyf+P9bZb/RP1/v5Cyp7Pz
			786x/W7Z/+EGu8Ccff8CoKjsiUTJQhOBEgf836HG0FtVA9g0obYw
			T5d/96oiwSh5yMHtURTnBgny8An+aSbMQxnmA7XVgSEhDn+I9Mdu
			eCtAZxgcqoPwgN2+OKgo1OvyeyJ/+1AihjihXhUPFFv/uMAeKAEj
			fw/3FgpFiexfB6AEhyBsb9XILyQMALu7g33xUIRA7YQA/iCUbG2h
			Pr/5DuDlgSOQqBwAVM2BADuEO97tmMVEALzgWxPe/yOtPhIlC7C7
			7d/n3F4D4unujrrWb7KgrvSP/e8HAQr1gULw5qYREIkwx9qwttNq
			OWpv7tUxSezd9FMTfu6xfEtcZJ/SpNW3JP3srHn1UuW5XpCypWOn
			lrzb6asvM4f+K3X09b6Cx9z0yj/s6W0Sp2+O0aeS/U9oGKcJm9Fy
			jVPl6cSL3PvQdGhjH7y7K2Nr36cPJAxgre2ZTfZmISlWFlELb9Pq
			eFddnKVBRiNmtL2sh2yxGTBYFTqiYM1Zdkl4+v2ZeXSa1ktGdcmO
			M7wk76oHX/uHBhaJemm7YkPUvEJX95gjkERKEgM0ioI4VUaLeQSX
			OUVeWy8f+ts8IpZXYTebZE8uTlzN7DPewgqKrBpyWYtb83wj0R3s
			uFV6mSX3OayeVpjQNctad+T96s+6msOQRbUj+pshCsyQO20JlQJ7
			sq/otvMPVNr4aKqce8sIAIbLNFL653CQ+NHLuzP0fob88QzlM0NV
			eKsjLbT96AXbRMKLuyw7Jgy2L8xKn8T22Cd/rp48K4hJs996fG1g
			Sy5TH8hBES1/6fSxeAAoHTyhMAwJH+GOksvT1JxtzRe9YxVH0sIr
			JqaDna3XRH/Ped/uTQ33ka1FKMHd8qulCiXDPuqrXqsJ8id2n+mz
			tzjOHU9IKs6e47+OfmLdyub03EP2Bxvuy0RTlcYfJQ1RHf4bJdLv
			PKZmi/NzxOq+nIyn6bK+AHbnWz67N17SEM1a8XAV0+2VAendKY1f
			8s+B4dU4UbB9Y2fS3XYJrvf5GpK9OlYAsikpwhi6qojRs1d8YrDI
			gL6SH10mIvQ6evnirB97ibdJJZe6o5OkUjsJlG32Cb6VC+bgZmr1
			+6teoEEARmZkQz/1zO8Lkps+q1RdjOWsIQnAXwKwgeRjdfVYEOXN
			YUG25aXmGU8blvwVmz38AOhv8vC/QPLu3v+lZdeulXfQxpYf+mZY
			DHcN85LdxtiP0ePy8aFY1YBIIsuJLk4jKRULxvXauBfN6SWvVTI/
			hv8FjcB8cMnO8Oem6AgiHtYe6ySEaOQo/tOdzhtzdsn9bw9jAkoF
			DhSxxAWXjS6qe7yZF9yydXI8IE3dGxvZkUU5QKXiMnsa7YCffvzu
			n2l1p1c+yvdAzu3TJ6VeJd1Qyn43fxhvbwm4GaNREjxEeyRGscb/
			ch59iUHu4/xxPVQ1FU3EEN1byIFmmNPQWmuJ6qJkP1GSzs1/duX9
			WfBBUXzIDm9qFM1DUqzEMJIU9YurLdFe36HNWcb594a513c5M/tT
			5sUr2sOC8sxIZNAuibICBl0kJJc0eeen7cHPt3fxEQ5ZeBnixl4j
			9YOLjDfltYTsjum5k7ptG3GXJVPeDS9zGaAt0bESdTizyjokwiq1
			mjhxLo8em9yI6Xph2Lpdr4somJUIDmS9MrZgzLNJBsVkQbQuY1Sv
			eIHcP1/RLKFdSBPUtWSyDB83trVmmY0mX2BqFJ1i1puODr5j6CTU
			4OkgUPoGtcpTeDXgDjlUZZxnEnJ1jmAmaFvpimQyvuwhi9y6Oprp
			q8wz4iCmyrLkfqziYJF4dhWl2WM7zlLtbYd4utLwuM7KJ6NRO6/h
			4+kjhFHyNyBsRtTP+hWJZH9EWwSx/lfy/j1/NsdxHnU902e/Oi9J
			mTwjfqa0dH9/UZgG1xv7NP0iqlcD2uiz1flpPecaNyz3gTE9dTu/
			Vve9xWYXshuA//JTU373zRFXZf13VXZF9zFO8qbYCIqqioVsBMMl
			+FsDmfdpyCm6ifAwFUjdyEgtP1qjfcI2qvex4l4MxVpKczXvmy+4
			iYs/D/+wZyc88MmpGYvwo1JNnPG3+S2MolbQmM/2EfwMnrGPadL/
			xjGaSKYaIr9Q/u11+q/WXUyKPUEt73iKtm8iSEFunxfa6gE8VN1q
			KmnA0QxhHseTcBUYVunVXq60s/1Plus57+rC3ajwqYAIIQVjava8
			Z2mhBSHnB1GjM8IZXoFHJIWC/PJR0gQYfcWTI4du5cD9J98lKyp8
			RgWth+QQPWO5zlWdKXqzWndmsskpfzT0qFxxknUBuQuTI9LeHhtl
			T7oTxJbkGnPYYsFLkFmfKr6tUVEoOoaDvtJiZrZvuV9TLBRLwfFr
			KjLgH3iISjRb29BxU6qY49X0M0oStRzyvl1W4b+3net/iZF2PGCi
			wBXNy0ycQE+/50TRfn9cTFlorBdILbf67mvol8jOIJGi1sGvU001
			rgSrsrnfyiKRN/c4p+KL4qPLnnQeEny3FMR/y0WePsYYxpQOZ2ho
			/1UwbOCm2qHAzFEjSiBy5X5KP9xC1UQmTBFulC/bHKh56cInuUW7
			qQ1Qh66yFsEqAmN3qdRoBXS0U7VfyQsgSLPfbxrbuN1wChH4fMbw
			NSSb85CWI1nS5sGwaWyOlmew1STtaVdXn8HMZajXmz4zz3vAfSy2
			RZYpQRtegt6vi0fo3RIapQF0rJL8Zoc56YKk4kqfkaDZkw/VkRoq
			fDQyJSjH94UoWkD1cYYhMeanU5ntR4u25F6Y82zvaGym3CODa8/r
			LeOIY8ROm6GhmtvsUUzXXxMqHnavTB1scpa5eKyJl66FYfC9NDQk
			x2zvD6fhaUmKCViQs2yFk4WjC8Hrng/3eoSpgJdM3yfi+fBtSGKN
			q+dPhvdts6ijwYmHrZqGrqpL5uNX2shDabubpHZ6Xei15vQrcMSb
			jbEle6bEYwjFEedJoDuiMdOa6a8vYKzyvwTahZFvc2M/Wn9tunTi
			kLHUt5Fqxkgiy1su+EFEXfD22omLXTTvIf3H/qHJ++v13lYKTdiU
			Wgnik2umT6KBtgA0VvljwuMHEfOrWcSguqfCu4eVp2IjetUfZbK2
			P3m5ed4jCZBrmmnxa+3XWlOsJhEipbYkKb44HlVtCcV49Prl+jx0
			kAK3p/7rU+vUqpn0cYrs97CbmFDxAtqj9gU/YcwYoc4Xa89KcEdL
			PzRJHmI44efM6BEO7InvvE3+AVZzlGoKH8ueVSBymaC2zRxR0cGd
			anSBPC00OrnS/b4fKgFDL4U5cPW6P0BmtS0sSRqIsm+MppahVx17
			SL8eS+46Ln4CoYld2eJ7vD3L9NYmI/bctcad0l4gzJFOK42ONYRE
			slMi1SB7frk3mfrpK+4Jk0LkVdC0MsOz8A60eTyZu8N5Zvz07wM5
			uXXu0V/82tjWWBBTXqN7j7lsZ/Q5/iS/Q/D94IEgwCSoM7Gave7D
			PieOPTfW8BzF8FwNR7TLt0C2JEOCxDsd46a9zw0tJwel8TjfFajR
			KdsmU4wDO+piymhH1sWlBn7YK2nGrqDVeN7oJrkahZC5soiYibkt
			EOkiVH9eXTYYpWIlaPJbgHsTzgBdbGj0FZffgq8CauzmeJeVE9xL
			z3BfEOoZeV0+tzw6xNqrvIt+PBLQW8L9wnXW59HO1S5mGWFcNk6Q
			DCvOeqx9p98smXNtcXLk6d4m1+tV6rE6pubCly1yjQrKFRmppi6v
			wi3vbcs+4yEunPWYbk3claa2Y7CgmZ1RI3o9+VHhwaOrak+K1o1P
			umTxk74KCW2Vxh5zZN/xe6qXWaJrQ1QNqImUR4PVdjqgw4eEP+JY
			uGuhzEavx52A5LV3exfJdlK9nJmOWYX3M+/F1omeJsfiqyx1yIXO
			imS+saiGzUQRCUBNced9hkdWVqN4fSntLPbwNqVP0d0sV62TDkLO
			a7vRiNaesNZlB2JaHwpcY3VtHEyxra2AyqYX6J90b/hN6TnKeZ96
			VoJFmZBaQ9VuubvYEwRFofnMD9C/pDwlea6vnfVBmzRvU/Z5RWds
			w1vqFV8iWn/QjnJf2QhOas9T9hhLZfWQ4EA1ntMPsrRDgn6ES/Og
			jhffFQWYMZwouUL49gpJuzIbVMHToli5ZZQxZ1U0NM8jXHU+67o3
			KHTDyjMGZp0s3OSf0LMUPCWJqrx69cK8ScfA2DyQtVWI4P3mA0D/
			vEKOX3YCVHKXreUz6TtsGg+nvPwfiH2cejGGsNNZGRKfsIm0ZaWG
			Fw0PKsw60XuWk14dN6tJs3xljJYP3b9LoQ95ORNzREk3FBgkpBiy
			6qJomNrmMLWhHgTSZHd6vzeLy65zjAvk5nUmCkBuYTenX0PaL8iD
			kr8Z3LdyeLfkUIO+H+d0kBbZ2bb4nLYxclChocYZcPQVDMNicWLl
			a99Nb0jbvp+wW+1lGoVwEmMZmhU4riOpFOKfNekXdb8cDdqwEF4H
			cSiRY6Rivok0cQq7/3yh3/aONbeH8ff659YbWOaTsazvrzeGd9oZ
			lpXrP01k2NWIyjdP282F9y4WsbGj1VVlMOrGfQXaTMhS9LlxJlnq
			NAnLfVjxpC/tDfyKFaYj/ogNC9vx6bwKh1ogmNFab37KKqcBSTDY
			1/oI7YgmqxB3y19zSZRekaNWj+t0Bchddl1JpDf9ZTrIajxPx69P
			d8RpdQnL7c6UJrsRUhTQYblOtnmCX2vurJ6QE4dREYoUYbJY2cor
			feijlSJnpKjjiIzUbZCrTiAymBOdAu9FvRzDxS+Vp1CabglftYJU
			YuvFP8jk99J6+N5Z+UumIT1r84pvwNqQEtqbY+I5AepL2hpTZcRr
			624LVw+8GPzoFGDb0eCq34IifocwemT+x/LB9O2vLx5jvDP3r23d
			UuR21R6UjJ9oDQ//HJjxQZ3mZkCXxfB+/srAANkd3vstnyR881Pe
			XPVOQKn8lDXSfYEvjtafaeye2VdqzWe/LSC/gGNTkGIVtqtTHDNt
			dpSdHU1bdYoTRxE8sqxhx17WJ3ooOtA29JippF7Ogb1mU5Kq0nya
			PJZyzfwNS9J8qr5X6/E1kFo9TXczZpkVsPYmqAbnikpQLI65/VMc
			qQqu4iCfqa8DO9vQusS+mURqcXpL9cTlFNG6L5fS1/2zr5+MLvo+
			DKgFRROMnvQd4pyvaHMvcsJYnO8g6WDIBObZ2rHr8LvUFLlkU1xR
			gWv7tZJfz83GV5h9aftz5ks4Y9nZkrB93PjUf62EbPReLU7MtCMr
			ol8jM5MTC9sYH/Aiw3g1Q5Irph8Oe7+d/3WGBx2kFeG0xaIxpn+S
			98uGTXi8P0pmDmI15ph3jmex0G70yUGKOy+U7dKq37L0Gb24tf+o
			TOGNfKfhBc4MDktuK/qd1cWj46nru3NiKr1uhvwHZ9wbaKA0SGFw
			m+2eYuO9fEqF1Xd6p0Je6mtK5zCjLwznzetnLfU1Em4phEl0hLhr
			yMRLbaCIsV/yYdqO45Oa7l1De1O3trDVnfWEeP0umtT6pT3jURJJ
			u0/rMO22kR3pAhP1eI1dfsY+abEq5uhsWvHPexUS34PuZACsE53w
			lITwlau70Gko5B2dM4kCFENmziVLPes71Oepdym3GaUu0UVFOXkE
			yK/etlrOEvFsCX44IbfOolx7oeCX9GQievkOVczUafmCQDemP/Mg
			sWHrk4viDNjqJx5BptGI3f6xRhYpKpfEu+MGtScLXNjre88mpEa7
			i8tePlTIJrPMW3bEv1j7qrxsX7vf7G86dObcAJ324vVecu2L8P+1
			N7ZlPf428G1muqBAA71yV22PANsUFhfkMJlalXGsTCbnjRR4T3Yx
			ot72/ZASTWBmnE60LoceB/PMFKT8smt+Dp+oWzVy9j53Ym9m8M6h
			zsQIIzaSsUtyJidFrcU3Zf09j6VmOt6Z9ULV0ZRswhdOmE1+HZXb
			21g7J1+kRuW2jYdJDWEuX7hVvgrp/gBnPF0ixf2M4ibCfiCpRuyX
			gHM6N2fvgpyIGwmyA09uLuDohxxsMmdqRl0EewhX/fE7hvLygp9v
			0LIW7hLdv1J5GT/ccqgr/mbwFS3J/R980z+bFL+AlpfVxftwOKUu
			2Y5mozbDTE4e4JfV1wh8n+U2hwkxOhdW94JnCp7BWP00uzNldnDP
			nPrM+Tw0HwbQwr1j54anlGRkThtE/RMyOT6H98SY4NdmF5KkvVij
			AoVyLal1H5REaZ/r1ZcfxjUVtJXzFRJ9ED+gIaA4ECfoeA2wzt+4
			44huJPA9t9HUZZ/Jk6klRsN6sUkbvUiuVPoIKo5HOyrndKM1JEi+
			01iiNUq2R9HqBNF2O33GGBMqSl3Ewq46v5kkm1T++lkBngubVLGZ
			oKBbU5DbYzrPoVU+HSve53NFWzLzjJ7JLTvhje35ErLP6gFVY59m
			13JiUqMZbYTZtOJvAm2NWGDH1N+ogBxAoTKSN1w8q+tBscXDRkkI
			u+NwCI9EfteHn80x92jAZ7yxVa7AgfUg5+LXNwt3OTwZKTRHHM6E
			07lWLgupo0mE+74U6Eo72h3pERX9ojLo+qmxvtNXNE9QTzzlj+tB
			QN+HUeSYgMbWtVZSlkzeyA/c2OXrC+WhfG6NqPPXCsViP6aE7nna
			Ezf+IEtIlmddJj+3YQhjl0wNi2SQHeAQA5znz3Gl4RFyC51L4lT5
			h/m5v0tZt6IIY2MZcEAP9h4FYUt+s5db/NlfMbgg+tbKSCS5nGwI
			yrHJdLR/orPnWmHDrZJs9SzE52C4vuOaRDQ0ao+LKdP84FHlyCxI
			CC9ydVGKiZtgvTK0h51/7lEv9kYzvjkcpPj0zcmopNWCH1UUpMlj
			OSEy5eU1O2P2RGGNhATp6jFxcoDAdalOGI9jcP3aCcj/56XqKwDR
			cbwrE00yIUQaprOgjWWqkUpk6VoLrcwvv7Mu7zNZL+vLJTiGxsTB
			0aZjyn+3dDk7o3IgeOzYd9l+1kC67OiU+dSsIvWhSbK/ImgDSbon
			o17pdQWoGfa/zptpnXT8kpVxvUEayTgoCPRX2PLHOLTvK9WhaIFN
			Szw0yNVktJLE4FHRMlROn02O3B+P6u2NSlnk08rQ4OR1bnn4XXd4
			u8Ktw4RkBq92N9P7aGLU0njLu/dyr1RX0YIis+eJrOgTtheM148n
			rwyzSYW6Xqozok8KKRpcH+LB0tI9qdwZIpyVuRz3JKuCTCh07XwU
			vrelmIjfO8wCfnQOThl86zbcPHc9sQ3PfZCMR73Z0dwJPpC07ey1
			HN92Y8ahJGxtdqA064tPTxdJCcA9RyNrjgea5v2YC/5WsOV7/1D7
			sj/YiBhj7CDUZrIMtDOHaSEW+OYiEns/6F4E/zHZVFmigRxxxZuC
			trGhs/t0OVhwPxmNVBxd6Yj7j59GvdPX3FjuBP88PRPto+ljdMqw
			V9CYSsD7OHvBWDye/DqBbtyZhClrMw9HjCxZPljTsd0k5F3QpsBk
			xXz1wPEWXImyNcjaYMuj2KyhkXh0PucDDW6tVtXSpzSo4zKP4o/h
			h55F+Pf4tXXDxsCUOUeOEP10W6bi+jOEmcUOY9feVmBSQ0jPc2zx
			rfBdjh0ykgZfPvytzsCf6Vs7d65LFC24UJFt37+mWSqJ72i6mOiL
			0PSjoRmyVNIQrwYXZWJuCzc4rJx22z1NjD5rp5J16avzhJpV9xBE
			g4J4TKrsV6Nk916v/yh20lWZ1CI2atvWPe98BjYYshFFX9VsrlAL
			dKV1Dep/8HaLk5OmgBy2ob/Sqe94Lis2nWH+2Z7kUGQhTS3qfFd6
			mvylNDVGxGP8i2GwYmL67mxNw1S8rN8sVqbbFP+H2bOaZ6mdU2li
			/kYnTl381tzHQx0EjPesLvsqi67TCIyCfr2oRZezHg/HkI7xVN4y
			GMLrxKuUhelHWCjRm6GxQYWfftY/mrBiSMqw/flBZ16D+UGGvvUm
			8DHTZ6rIZhOdxgHtwYN1c9I+abf7/Sv9bivo7iKhFg0ndaGRD9Vp
			9xSqLxv5/K7bc4gg4e7wxNiyQGJjHVmVd0crolZksBFTSf8B6cx3
			gB+jIB/sTk/Vl7ghqcXe40fMZylhnbXI3klWfu/PZ9SllWtUnHz9
			9ApHZJosbYSa9VtSA36aMnUfN7NVRVdiyazUbfxG1hxdVNRO7j8O
			Lg/oYxWOy3h/LyQZA0/ELaaQp1qWe3Cu1o6BV/4rnIqC8qYFwUUQ
			gV3nUXBRkBNUsNf1gD31nFsEIynQgegxcXecBQ5RGL7+XbWOTpWl
			XartO8QJ795OhG4D2eiF6PJKL9SwbsxzpPU3OsR4YkwJ9axw7N8y
			2HcVBpo9PlhgJmfp6zDxEn4BtGdcb0QUJlQHE8/yMxu93YtSDFHQ
			ZeXQwdW2MPbu0vgkUiPcWVA3+YqmPTXc5EmOETKolifZDfravE2K
			+GmLBQbt5s+8R2c/F6s02E9K48q4XhNEUyohWWgXhTetixnumr6g
			KbaVKts1YKvBHiCZGxppNyiBdms+uUEn7dC37bn7kXIZHncTVvHy
			lA7jYaUU49hGC3bKl36X464zOr+otOWN6wry/S8ljbnAFpKO79PE
			IxkTvUB9oUisc2nMIGYT7mfr+pEzcjs7IWD2n3RbQQ5ix3z/4YP3
			H/x8/wv406H/IX2AOEPB7kiEC9jdCe+/AFP1IxUKZW5kc3RyZWFt
			CmVuZG9iagozNCAwIG9iago3MTU0CmVuZG9iagozNSAwIG9iagox
			NDM3CmVuZG9iagozNiAwIG9iago2MTMzCmVuZG9iagozNyAwIG9i
			ago1NDAKZW5kb2JqCjggMCBvYmoKPDwgL1R5cGUgL0ZvbnQgL1N1
			YnR5cGUgL1R5cGUxIC9CYXNlRm9udCAvUExQUEhUK0NNTUkxMCAv
			Rm9udERlc2NyaXB0b3IgMzggMCBSCi9FbmNvZGluZyAvTWFjUm9t
			YW5FbmNvZGluZyAvRmlyc3RDaGFyIDEwMSAvTGFzdENoYXIgMTAx
			IC9XaWR0aHMgWyA0NjUgXSA+PgplbmRvYmoKMzggMCBvYmoKPDwg
			L1R5cGUgL0ZvbnREZXNjcmlwdG9yIC9Gb250TmFtZSAvUExQUEhU
			K0NNTUkxMCAvRmxhZ3MgMzIgL0ZvbnRCQm94IFstNjQgLTI4MiAx
			MDgwIDc4Ml0KL0l0YWxpY0FuZ2xlIC0xNCAvQXNjZW50IDc1MCAv
			RGVzY2VudCAtMjUwIC9DYXBIZWlnaHQgNjY2IC9TdGVtViA3MiAv
			WEhlaWdodAo1MDAgL1N0ZW1IIDMxIC9NYXhXaWR0aCAxMTQyIC9G
			b250RmlsZSAzOSAwIFIgPj4KZW5kb2JqCjM5IDAgb2JqCjw8IC9M
			ZW5ndGggNDAgMCBSIC9MZW5ndGgxIDQxIDAgUiAvTGVuZ3RoMiA0
			MiAwIFIgL0xlbmd0aDMgNDMgMCBSIC9GaWx0ZXIKL0ZsYXRlRGVj
			b2RlID4+CnN0cmVhbQp4Ae1XZ1iTXZNGEIQgShPpRAWkCCT03nsV
			CCAiQhIChJKEJPQiSG9K7026SO8gAkoVEKWIilQp0hSkF4EN+pZ9
			v929vv291+ZH8pyZ+8ycmbnvcz3hunbbWEDJBg1DqKNReAGwIEga
			qKKnpwUGAUEgEUEQSBjAxQVB4p0Qf9oBXKYILA6JRkn/J4QKFgHF
			E2yqUDwBqIdGAbVdnYBgESBYXBosIQ0CAYVBIClCqF9ANFYaqAp1
			Q9oA9QSB2mgUAgfgUkFjPLFIO3s8Ic+fj0AeOC8QLCUlcevXdqCS
			MwKLhENRQD0o3h7hTMgIhzoBjdFwJALv+Y8QPLL2eDxGWkjI3d1d
			EOqME0Rj7eR5bwHdkXh7oBECh8C6IWyAZyUD9aHOiD9KFgRwASH2
			SNxvhzHaFu8OxSKABIMTEo5A4QhbXFE2CCyQkB1orKULNMAgUL/B
			ur8Bt4B/NAcIFgT/Fe6P3WeBkKhfm6FwONoZA0V5IlF2QFukEwJo
			oK4riPfA3wJCUTZnQKgTDk04DtQNinSCwgiAX0eHAtWVDIFQQpP+
			qA8HxyIxeJwgDul0VqPQWRhCm9VQNipoZ2cECo8DnFWpisQi4Hg0
			1lPoj+E6otDuKO8/V7ZIlI3tWTNsXDFCJiikiytCSxX4G0MwAf62
			2SHwQDGQpISIpBgQ4QJEeMDthc4SQDwxCOCZE3xmJtTg641BY4C2
			hDIQvkhbBOEH4I2DuiGAeKwrwtf7Pzv+uQKAwUAbJBwPhCHskCjA
			39EJZoTt7zVh/likB9ACRCAoGEigKvDvJ0sCFW3QKCfPv+G/Riyk
			ZWCkc1eF/48G/BVLWRntAfQWEBEGCgiLgYBgkKgkUILw4PvPOH91
			5c/qfwW4DUX+UTvo73RaKFs0Ic7vKgjt+7MSt9+6AfL8oSxe4D9T
			6KMJhEYAef7m/z2QGAhO+AL/r1UAPNvy35H/LMq/5f+/nkjd1cnp
			V/N4fnftv/ihzkgnzz8QBEK74gni0EMTJIL6V6gZ4kzcQB49hA3S
			1flfvVp4KEEkSig7AtEFwKKCINHf7UTi1JEeCJvbSDzc/jeZfttN
			zmTohEQhbqNxyLOLh7CLcMn8mslfPoKU4Y6EywVHYOxvFxRHkDH+
			13jPoAiC1P45AjUUHG1zpklhMXEgFIuFegIIlCCsxIDeYIJ4bRAe
			vzgPFBJEofGEGEBCzb5AWzQWcDZoMIGNQogzG+B/iGuMJ2gDirX5
			K9HZOeCuWCzhXL9YTzjTn+tf9wIC4YGAAz6NoeEyQQ7VQS37lUos
			7gILg7Kk6yn7d4QFBvPvk+O71IatZuOMMzPGdUrUP3WC1e87tOkr
			u+xnTX3Y8p6v4aj1FN0V4FBfsuOAxYyd7p4bjffeY70+drmR6IlZ
			kjK7dBG2i+g2WyR1O4WCjV2XMddln5vVHR/j3bnpi9UltINb9Fvb
			K4szdBlYpUzXvhjhm2C9kAWxbcab2V+cHwfORd0LT9ZPu64j23oA
			iHOvoJ7p6eudoOlkexkZoO32cGGDMwRPoybTy6oqeqHCdCL30s/s
			IrfVNFpvmAad4qpN17Np3qT9av1N+/nNVctrPAntEvbWCbZR4DWv
			AzYazAS9cgo2J28xwuZzVigHSUOPfPwezrQjFan5aqrsC5ujdmiw
			juf4aMfQzE9XnWQti7fdQTy39OLkTkrn13zruF5Eu9mGEDffrEyi
			mVfjZ8jgXfG1Dczt5nTKnNjlCR41E7aQTLFvgcgXTkgFNfvfoRER
			oXJDppSbXBKq+9pzocB819tL9CR3q7VVmXvcpSISFU0b5TVTM+GT
			lv/kcB0s9LoWnloVpeLl7jy761PhMWup2+OMLvAt82pxFvs284Hm
			URRaGsiR9XSlLSIomlGwOfx62ee5zrAd9lLiGBuiYv2cZ4fbAQxv
			utEtRCIAt+KAqMNVr+NV4jSgPgBT60VacvuKjOlwm514T24XJbH8
			p1unP+Sbkw38tUWdlUADx0Yi9WNNfPS93q38uQzN87RSNLPBSNeF
			t3oJ8waKl+19Beg+8zyiekhv2Bu4HPc4qkVpZrspO5J3pIpl9NvF
			lmK5AHJBqadfM1a3RexYmLcy5C5xWLRacZzCTtFWVzaUWU3zpw+7
			H/ZfqN80u87xjYl4vj4z/dUMdHMZfVcdZxDLG5SQz7VuI7zZ5B6l
			/7xsRFN+R9V3Z4P8c2Zsl3nipZZvtVVgh7vlgXbFl8jawLDWpgzt
			EqiPdat9dBHsAe9Ld/PAdbgFN8ghYaP6DpGE574dgC7Fnsm4ITiX
			m/SBLy3mRGB4xXbsPhB6NGYF6GJxEvUyXd5aQhltzbSxWUUjFCtq
			+Ii9fJJiE82Qgg1SA7yPelLTlUOMH03jRN4+fuyYc+t+FCwubcOr
			v4kcStkfLGqlTDa3QkdKO3HUPXgIXucfGqcZOXd5zayuWrgPg85Q
			Pcp4Fk7S6iHfZ/tBs+bQgsMSorb70iHNqDfCT4j/iHJ+nmEFmJZC
			PekkOe91ZyIOU72dnZ6pec10byLApv5avb+MjWhuHqTg8icx6Vtz
			h270N+A6j/kmxmT4vd5euXAnqoLWi8oReDXfcGTavUse6tINE18A
			R2sdNg3qUHMHKyDevd+LlQtbsW2ql91w0Pn5aITTsdFpd4rLatuZ
			05I6VWpOoDMwZ+GqI1S3/wHzxEEK5O1tsPe7ADpmelRO+KP3Werj
			3jDIi4EWW7KQL99yyrzDdYdXucPa2wF9dzKl5voKZw73vtdNyysE
			0I3P10JyPvaivxu5p43MSgNC2dMRTesAoU2K8OYlNtaXjAyeR98a
			L/kG5YTiF8fv5AY2X5fw33TBB83YHvq20y4OJfBWhkieNzYauZPo
			eZVWNgNXK+yQaHC/ZTawmZqr/eJjk8zm4Blv+dFooZzSiqcqzujp
			BdAgV6nvE8znqzZfve0ZROUjaCMu3HdXLdxQRBhu21zqJFmBIm3M
			h+7PKLbVKZBjLiJFZFirA5S7mpTYEEdH7D3bOxdJhq6X6cCXF60A
			gG35n69/QtBDcvl8rHSNr/sPPfP9P93A0JFxppoMskIL/av9M8UM
			he+KSDNmNrD0ypprDHmD90/hplpMlSTiPFZYvev74fhgG3//wMkS
			/dUQYUs4Ejq7K7p1KrfO9gab+tzN83OF/X2+l5o6n6p87m1/NA93
			p6tj1lvNE7nFV9cZ4SbmK1hSIFV4tTL7uji0pZbmEsJ8Oc03hkT8
			qbCvTiDou5VpJcPg86gLnweEisTb/frDQZuOynFh3SdO3+Xd46bu
			rMh+0TSPruw+7+FG+4LO139eXYAz/Xo6jP4aT52Xo6qhEQwvU9Nz
			adkhv7Ez05FyXp9pV7RshEz0IHV7umbi1EGJL93abjjUsKSqmoKn
			8KtMf0ClIZUJR5AKBrb0RlFmv0OFSAqxzK1uwRMJyP0ZfBBzUKgw
			yBiNJYr4ltLSbLVdHnyBZtjWgNxs6h3xXHF2sesBaHIvNtpRKK6c
			u0Js5+Lr4eKDuvcfKQKqBKZ1zU3vlsDWRO9kWQyAXAccGOTVRh2r
			/auv3elq141prd9/0hNrkly5mz4H1At1OoRosvaihk880zsRJt3d
			pz9xwUrnJzIi0MEiHIM+lhzACsvU+UUWr6aASf1y7kTmBI33JmDF
			uhBBISlimZ4hrXMrb9W9EjgLW/1NPgrpEJM4fbAV93CZyWGj8ARU
			u/tWPdTUFKrh4zr8DEt0jK/4aV7lifZ4V+9Q/j3ZI6/a+EUKyT3P
			Ol7UVYXmLNOlh9r1TOwHZPwcvSyO0OAcCwaviQHblCp/2uQPtlp8
			kxa2THLEerQMIiO8XC0/npZTx7uUlNcb8JC23RO4ey2KiT1rVbsD
			oMnLijXcjaljMxTbzXsAYYTp+grJD4o50q4x7skZuucanEgwiP0M
			u8EinfjhVq6JFYPubYXYup6+q/oq5YvGervvkevvqcblEy/RdL/d
			C1u4uPBDhO+Dww2zjkzVFcmlSM7NEZ/NrGsN6hHTfQMRjSfMy+O6
			8TJWDwA2hknaWpz1zUkd5r08HxkZnI1cluj28rQtGOP8bMeoSaRu
			JT0Tr/ly1Qp8mDfi5w6kfL76lNX4FqkC+LFCIDnl1pjSaNe0pxPP
			wzndc01v8c9zOEjWTWJov68tUbQzPXNWHOZjOIqB0EvFfFZrIi4w
			M7ATGE8aexl1uVJzGbPIeAmqScZ+nfyeV/7xK2qh4RH2IDUHU1Lv
			THD4FnggEFKVaKp7PCzmaabj4+U/vDWXvOEzXo+/kO+gbLMcbCpX
			7vVJZLwdMqbt17JoUd1ad/JexPrYLecEg8IGmlzUMzUrSd8V/Epn
			LoBfSk1ZriyrFvbKfP8jNqiAKBQgayyOB9c5dU5aP4elLUYQZTcT
			aa0yDLFZ8WbeTd0atUJQq10yxlMVmMDF1t6ozCpGPkR3iVH3eOiq
			vmlTSomof3DcpV/I9s6IHKgb+S3DtttjUViVJ+nhACqnenws4zNy
			Irrk7dDTKBxVx6eW6MAvh4LYKfJKEvYtNYunAiSlxw1rO5eWAosD
			vF4kLTzGlpNeXpkZ5ixQLqHUJRaKiPkq3ajMsAMcm/rA7a/BkjU8
			CHYVB1nirAMAcduJPmnN8TxVDKLZ00U8yxvK1ccCNI4tz5uyupMc
			C2a3j57rsJc7R04qTlnlK91c/NB+t3mknZb8FqcRgsJ5VNWCpCy6
			PRrj179RvhFOSXZnIl7pWNJZyevTzteM8zat+jLX51P9GMmG4opb
			MdMtu8lXGplUNAov+cfrv8uufNQ57SMD1LnwXZy6XWl6b7TH2nq+
			1UFaiJL4KtHdmsf+pycmhVx8h+Is9z5u1SsvzsaPx8r2rSzcjuLE
			kDiU+bd3L7t34IP5kcVTyPJ87ZLRrIafo8AXJgVd/Ru4JfPmTIdg
			31zAvVd4TZWVC+t9B+ypQgDV2QXg8z4KbySic+5iKkmp7JMKltaV
			t8c+rwS9k+GVoU77oEd5YTxFDOMPVMhT+L+/YW1k/XS38QTDCeT+
			QQ0tulzLqVYSp64Z7UzEO311Kl+EtBQ/bbSATHfiBHF5OF47VkmV
			9pda/mo1KPDc19FPd0jx67fSV1T9GnKd95/Zf1zhdaxIb0JSSMJG
			YvcVcfev7ntonArGhpBfXmU02AtJuxv53aFiTp0eMtHyjuoWJ3Q9
			kNnoc+UhzjahNi//4z1nf7gjGF3Fv/iAPHRgcfq8/0u1lVDYeuQt
			lXKXrQ7ukOM7dKtaeendoynnsS/ufa5/9fD16ZcjIwTa2i1uthlr
			cxWjsPZ2tLwiw/a9yuAVsqqnY01mpLuYkNEtR7LcwMFepRwOap5P
			lnrzTB9oLlNQ0+9OxNwPKBt6b5BY5TT59p2nHOt28X0vMbWoACYv
			zpOH/fBvU6B+R+MIzOMXShvE9kVYHGXwizBrUu038SeOkS1NAxpq
			9qPcSwpXAoOBeXQz5SzWiZlzilKR11LQ9xR146GQZEsjPOXaZa+2
			ipvMfC/3TGRCBNSGmBeC49HPIbAvk21i8xUNbT9fCCe0yj9b0/Fw
			EekomHlthS9iK0tfjnnnM2T2gSsMlDcgt6gWq1jRnCC4Lnx/BltT
			IJ3Nw6YpX4pYGr89MFkzKlOx97Hnw5MgX2ezjGWBH3V6s0qDXjhr
			HMw3Jivq03EHrlGR3ioe1yJEnJw1px7WFnTZIE7t1bNkp++RU/b3
			NKxh53ah7JL5aQ2cPFObvfdNROgqXNJqR3fW57ZUSK8/O3Vri2zc
			cTihIYpWSMk+nOhXYhtpWBQTLMZJt1r2sMhoCpcHv6hWcGqrrYbT
			086fEN0u2Nu+hiDP+7wigAc/+ijELNQTC5MNSYyfOHY8ElrwniZb
			HkpApw/m0AU9ftNNMrdWIKnBRROOGWx5vdrdoPdDeiTxEHX8ihNu
			7L/KInatJC6rGZQY8WVcMfhaUr3fvCrFyA1JmYsPnmzWnm7hzrNl
			31+plLNT2ciNrQ2YVDhYWv3gdUEm2soyvgXrR/grqBlfES6E/0nZ
			sbUkrvJUQsPuUVPKwWsW6csHynJSnDsXfvSsMnKm8zWIx+4c9tpj
			L+9cC6TgQJTKLPVf8h826xIstvHb0zgBqaXMDlIQ5U8pgufrC6I9
			kJURpiUuF2MHGiueJZRRj2G+2uXrn3P3tJweu5cxgRN2cf5+opAl
			+LFAp/5wV8Z7ZwfSJPqQOqQ9+9XjIv3c9VHqGbJWx9WZTpsZj5da
			9mpyPYFFYQWWcZZYICSu3Zeq+bvWw6Nv6cKTTOU3qApCz6eerHRZ
			UFQmA97HwV2PPZtMjAIcZ0hiCG8kdX3hLM/eBLSFBPm03Lk9mmP6
			ootn2WtqaMXZ2+3Fow59PF/2wI80ODWRamrVAHMcpZUM3nF0SiA9
			c0WUjauoqJ5UvfhgPZXp4v7kt2rmcyRKBtk85SG417ZVXDwTR5hB
			1c+a14W5SVMEMBGUOut+leGwuW2Ra3KualuGywnJ5DyrqrIyNQ6V
			nX0Nh9OftBYOhHH0bLn100dKtXYhGvFv9I17IuDdwqM/mz9gaQVD
			Juck3qs8uq+inDMbuVRJLzeJjRmyTtqkz3ByKeMRtpxsS9VHsGTq
			LCWAatjWFIqGMeCkvR+U96NTNi/RX6Gxvu1nfMohpzN5qqB2sKjD
			kp7OXcO/FZ6HvccpTMFp8SFKyGMMI9JKtPrF3ORJqUsgaR0fsXUO
			Fvh0T4myLN5EsrunCx3Dh8FdZD2gUivYdXIsgimiDPm3BmSMYqNQ
			WXHhwp5vQyoYgj7V+7I/X9JZ/qhjCgm88UySeTYqKxGjJt3q3peZ
			NcSgBqeljM/uKO2Q09pZDi/S7rHeeJ1wh9fIY30qbjmGpNODQmxI
			cNy++AZ5s6om00r2J1AvMbzO72UTg3bBxbmQxvWAAmmX8wzdvfae
			OpO1J+oysuan2e+Cf/p1+Gw+a5imGKWh24YIYduOCzkq1pU6YSst
			PXm1R/NOpVxOXtugNKgf7mu86m0VfVGde/WTm4sKajd+GKGG9xKv
			r8w63pjM3o5TNM459NGm5D3d1rx3noWM3vdWwrCbiYKqLK9/f9K6
			ZX76cf73xOcbcaVfppY13vXQvIwnJWpIg3AuaentznpGEqVJMogK
			6bH5VDa03ciWsxZn7iYlJo3FU9ENSjr2sSNzl8hkYQeJGdlN5wBz
			2Yxh/OwyclTp5zU+P3jgJUktYYzFcIdUc4Y77sy/UZwjrytMiYTq
			+Ye9SrpKf6OvGuFzlLINq/jCnkp5Ea8bKjlUBUruC/N5O7LSasDO
			O+3yboFaPRFPkWSQTZwn51Fd0NxFGjlO9bHQarFL7jSe+pg/uWLY
			QGohRMl3gPHJPcpZz/uXb8l5WEW9fGZC+vxx+/QTcQPyUAfl8TlJ
			hWCFoK8LqqTPo4liWS0ebXuqJnxqu+BsVmh1Iw4WCT1N8nHnpdGy
			nrlc1oGEQn2g3bgXAoLamRDMdZFeJUXuRU/FF98Yvow8FCIjCyZu
			T0IL7T7GDzFTelAmbu3wDzDwSdSva7612jeU3WYEu+EM/JsCIedq
			Pju+F0u2uYM7TNJ8VBVo42iGkVhw8TQalu1hn/WglNsWyHALO/9T
			4y29b6V503cveOrodsVbAV4k8Q9n07FpnlLdtKQ5M7vIp+dOsINy
			QlWX27jB6hBfNcsfLSJPpouMuVi59Ro9o/PMVfITKGAHc42F0fwU
			Su5XdPIAey+ArGWxGRR5auLzbE5m2FBZMtGTfb0+K2ZLSFiq380U
			twq2IwVDT4DDTPC7rPzZhAcvKVN8BCrhutTng7ZrIedpsr97+fXS
			0BBnnLLoHjKHSIwWlGnw323vz1aOqpqOaFuRayTn4x4IgEg8k/R7
			EBpzI2V4prvNKfGVJMeVeo7qrheN9tpHDYUvc1hzeRyiT2ELfAxy
			Pvgollvw4XgQbRfIqWG9svYNTta02Z2otAc8nLD3hIOP47E6U+Bm
			skBxx+eaA5oHXmixwN6CiWc1NqUk1GoP4o/6uDvoH34k6y7K33+g
			2ySoAKqdFHg/N25srXKR6KGECwKSls9QJAsroMRg8NUNU8OVeIiZ
			gXUI6/CGqKCBB6dHnMdXmh+P9u80MuWU9ttJ6mjQW30H1VwLGENv
			exWaBW4M9COle8jMWvg3zyfr1LS0/RyDnHf/+hTnEgopbbV/KI4d
			X9nUjeeWNjOP6GxJjQXO2ZXk1+nayEeFhxLrXEinUjwSeX/vu7G+
			tOSTPIabdueXC6fJTRSmeOdHjWBcQ0fj6KgG/5Ql+QhxqrnOHj/e
			FAqDOMCzpz133MXeCF3vn/VxTC3mQTBxCjFOaT9r1aBsnIln79l5
			mcUK0ttB37DHDEGWuTo3F84JGOXwyBfwDR5SDBev9QqLhdm3LK03
			+2gJirm+tDa8nbc39pDX+sfTZEPDnvplnp8X9kTjxRgTa+4XBU4F
			PaTXm65Ah7GRi2nwWSu8MVLXK6aa6fA/eT9gN/doBdNuOz5NjCI5
			IWoV6wZftinNb4r9ptO5SmuhC/BsdKGoVW6v5+xQvMkU1ie+fM1s
			dQYwGHOodqW+W6tpXXz/1pEW5CVnaPTJoGf6p9Dv8ec0kzDIpsVT
			U7h9liWjE/fn6SfqHZPSTa+oDfKXOW/0RpBfU5UuJoqkIQrm4iW+
			QA9lnEvX84g/7u25bqWbfKjA+sqGlu9QOnQMtC5sKeHBs9YsiqEs
			vy3ZwscqeN5NjC0L1w+T3XlUY6lrGAJa59uv1/mW+IG/QVEeISgw
			ji4Zebx0osJUznT5fNKTbn+nPur17qF7fkxG/Fc43TrQSaoFqeN2
			IdPkJ54BBys5S1COsItfVfVR2CW+9YHdcq+ccvv9wE/7FgHchV3c
			oe2ni6M/XQTLI/v22dom3xWEXu0cLFjtcUow9RDZgWSWXNzl0oV5
			MZPBjL1GamXR0jHvjV+g/IKuIt19bgvqvT+KvKLCDC1L536DrPsw
			XB3qdkHf23uVa1zAImouSyCFP7uJVhCtyDqepvuoYtBPNYx1BPMN
			z6uUnbR5wbW+LjtjWJFYdAS9w1LaWbxC3z+bS0kOLJJ0ydg4KfSP
			rHR+qedJdvx2cx5lkks5wlxgmA75poj7wFNIRb469eDSmtIq04J6
			C75Gfc1Vwf/mbgK4QqCrwnyLuGRLFfdlU13LECfXqXvTP+xmDFz0
			UvsBt5RQZvO74pjC69+Sl+kc5+RaRB7HnYw9ndjQLZ7rUHt6FaoQ
			Xa2bymhkqCbDrgoyhR1wSIuyFFWZwiUS2ePE6CeqvuIUrMP82rvN
			H41avGmINtFMDVENkotWaDvIo76jKhgFeZcaxFJspABi/Nm+5mb4
			oRab4yuLKL0pVSbLMPWDDBL3LgF2aKdWc5IL+jcfwL/xg/4f8LtD
			/0f6AHdCQLF4tDMU6wj4D/jg6PQKZW5kc3RyZWFtCmVuZG9iago0
			MCAwIG9iago2OTg3CmVuZG9iago0MSAwIG9iagoxNDQ3CmVuZG9i
			ago0MiAwIG9iago1OTcxCmVuZG9iago0MyAwIG9iago1NDAKZW5k
			b2JqCjQ0IDAgb2JqCihNYWMgT1MgWCAxMC43LjUgUXVhcnR6IFBE
			RkNvbnRleHQpCmVuZG9iago0NSAwIG9iagooTGFUZVhpVCkKZW5k
			b2JqCjQ2IDAgb2JqCihEOjIwMTIxMTEyMDQyMjE4WjAwJzAwJykK
			ZW5kb2JqCjEgMCBvYmoKPDwgL1Byb2R1Y2VyIDQ0IDAgUiAvQ3Jl
			YXRvciA0NSAwIFIgL0NyZWF0aW9uRGF0ZSA0NiAwIFIgL01vZERh
			dGUgNDYgMCBSID4+CmVuZG9iagpvYmoKPDwKL0VuY29kaW5nIC9N
			YWNSb21hbkVuY29kaW5nCi9QcmVhbWJsZSAoRVNhbm5vcEVTc2xh
			c2hkb2N1bWVudGNsYXNzWzEwcHRdRVNsZWZ0YnJhY2thcnRpY2xl
			RVNyaWdodGJyYWNrCkVTc2xhc2h1c2VwYWNrYWdlW3VzZW5hbWVz
			XUVTbGVmdGJyYWNrY29sb3JFU3JpZ2h0YnJhY2sgJXVzZWQgZm9y
			IGZvbnQgY29sb3IKRVNzbGFzaHVzZXBhY2thZ2VFU2xlZnRicmFj
			a2Ftc3N5bWJFU3JpZ2h0YnJhY2sgJW1hdGhzCkVTc2xhc2h1c2Vw
			YWNrYWdlRVNsZWZ0YnJhY2thbXNtYXRoRVNyaWdodGJyYWNrICVt
			YXRocwpFU3NsYXNodXNlcGFja2FnZVt1dGY4XUVTbGVmdGJyYWNr
			aW5wdXRlbmNFU3JpZ2h0YnJhY2sgJXVzZWZ1bCB0byB0eXBlIGRp
			cmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0ZXJzCkVTYW5ub3BlbmQp
			Ci9Fc2NhcGVkUHJlYW1ibGUgKEVTYW5ub2VwJTVDZG9jdW1lbnRj
			bGFzcyU1QjEwcHQlNUQlN0JhcnRpY2xlJTdEJTBBJTVDdXNlcGFj
			a2FnZSU1QnVzZW5hbWVzJTVEJTdCY29sb3IlN0QlMjAlMjV1c2Vk
			JTIwZm9yJTIwZm9udCUyMGNvbG9yJTBBJTVDdXNlcGFja2FnZSU3
			QmFtc3N5bWIlN0QlMjAlMjVtYXRocyUwQSU1Q3VzZXBhY2thZ2Ul
			N0JhbXNtYXRoJTdEJTIwJTI1bWF0aHMlMEElNUN1c2VwYWNrYWdl
			JTVCdXRmOCU1RCU3QmlucHV0ZW5jJTdEJTIwJTI1dXNlZnVsJTIw
			dG8lMjB0eXBlJTIwZGlyZWN0bHklMjBkaWFjcml0aWMlMjBjaGFy
			YWN0ZXJzJTBBRVNhbm5vZXBlbmQpCi9TdWJqZWN0IChFU2Fubm90
			ZV9hRVNhbm5vdGVuZCkKL0VzY2FwZWRTdWJqZWN0IChFU2Fubm9l
			c2VfYUVTYW5ub2VzZW5kKQovVHlwZSAoRUV0eXBlNEVFdHlwZWVu
			ZCkKL0NvbG9yIChFRWNvbDAuMDAwMDAwIDAuMDAwMDAwIDAuMDAw
			MDAwIDEuMDAwMDAwRUVjb2xlbmQpCi9CS0NvbG9yIChFRWJrYzEu
			MDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwRUVia2Nl
			bmQpCi9UaXRsZSAoRUV0aXRsZUVFdGl0bGVlbmQpCi9NYWduaWZp
			Y2F0aW9uIChFRW1hZzM2LjAwMDAwMEVFbWFnZW5kKQovQmFzZWxp
			bmUgKEVFYmFzMC4wMDAwMDBFRWJhc2VuZCkKPj4KZW5kb2JqCgp4
			cmVmCjAgNDcKMDAwMDAwMDAwMCA2NTUzNSBmIAowMDAwMDI1ODM0
			IDAwMDAwIG4gCjAwMDAwMDAyNjAgMDAwMDAgbiAKMDAwMDAwMzMy
			MSAwMDAwMCBuIAowMDAwMDAwMDIyIDAwMDAwIG4gCjAwMDAwMDAy
			NDEgMDAwMDAgbiAKMDAwMDAwMDM3NyAwMDAwMCBuIAowMDAwMDAz
			Mjg1IDAwMDAwIG4gCjAwMDAwMTgxMTggMDAwMDAgbiAKMDAwMDAx
			MDM1OSAwMDAwMCBuIAowMDAwMDAwNDg3IDAwMDAwIG4gCjAwMDAw
			MDc2NDYgMDAwMDAgbiAKMDAwMDAwNTY3OSAwMDAwMCBuIAowMDAw
			MDAzNzE1IDAwMDAwIG4gCjAwMDAwMDM2MjggMDAwMDAgbiAKMDAw
			MDAwMzU0MSAwMDAwMCBuIAowMDAwMDAzNDU0IDAwMDAwIG4gCjAw
			MDAwMDA1NDkgMDAwMDAgbiAKMDAwMDAwMzI2NCAwMDAwMCBuIAow
			MDAwMDAzNDA0IDAwMDAwIG4gCjAwMDAwMDU2NDcgMDAwMDAgbiAK
			MDAwMDAxMDEzNyAwMDAwMCBuIAowMDAwMDEwMzAwIDAwMDAwIG4g
			CjAwMDAwMTAzMTkgMDAwMDAgbiAKMDAwMDAwNzYxNCAwMDAwMCBu
			IAowMDAwMDA5OTE1IDAwMDAwIG4gCjAwMDAwMTAwNzggMDAwMDAg
			biAKMDAwMDAxMDA5NyAwMDAwMCBuIAowMDAwMDA5NjYxIDAwMDAw
			IG4gCjAwMDAwMDk2OTMgMDAwMDAgbiAKMDAwMDAwOTg1NiAwMDAw
			MCBuIAowMDAwMDA5ODc1IDAwMDAwIG4gCjAwMDAwMTA1MjYgMDAw
			MDAgbiAKMDAwMDAxMDc1NyAwMDAwMCBuIAowMDAwMDE4MDM1IDAw
			MDAwIG4gCjAwMDAwMTgwNTYgMDAwMDAgbiAKMDAwMDAxODA3NyAw
			MDAwMCBuIAowMDAwMDE4MDk4IDAwMDAwIG4gCjAwMDAwMTgyODgg
			MDAwMDAgbiAKMDAwMDAxODUyMCAwMDAwMCBuIAowMDAwMDI1NjMx
			IDAwMDAwIG4gCjAwMDAwMjU2NTIgMDAwMDAgbiAKMDAwMDAyNTY3
			MyAwMDAwMCBuIAowMDAwMDI1Njk0IDAwMDAwIG4gCjAwMDAwMjU3
			MTQgMDAwMDAgbiAKMDAwMDAyNTc2NiAwMDAwMCBuIAowMDAwMDI1
			NzkyIDAwMDAwIG4gCnRyYWlsZXIKPDwgL1NpemUgNDcgL1Jvb3Qg
			MTkgMCBSIC9JbmZvIDEgMCBSIC9JRCBbIDxjMzIzNWI1MTc2ZDE1
			ZTA0YTBlNTVmNGZhMjU2ZWI0MT4KPGMzMjM1YjUxNzZkMTVlMDRh
			MGU1NWY0ZmEyNTZlYjQxPiBdID4+CnN0YXJ0eHJlZgoyNjk5Ngol
			JUVPRoAF0i4vMDFYJGNsYXNzZXNaJGNsYXNzbmFtZaMxMjNdTlNN
			dXRhYmxlRGF0YVZOU0RhdGFYTlNPYmplY3TTNQw2Nzg5XE5TQXR0
			cmlidXRlc1hOU1N0cmluZ4AIgA6AB18Q0lxkb2N1bWVudGNsYXNz
			WzEwcHRde2FydGljbGV9Clx1c2VwYWNrYWdlW3VzZW5hbWVzXXtj
			b2xvcn0gJXVzZWQgZm9yIGZvbnQgY29sb3IKXHVzZXBhY2thZ2V7
			YW1zc3ltYn0gJW1hdGhzClx1c2VwYWNrYWdle2Ftc21hdGh9ICVt
			YXRocwpcdXNlcGFja2FnZVt1dGY4XXtpbnB1dGVuY30gJXVzZWZ1
			bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRpYyBjaGFyYWN0ZXJz
			CtMLPAw9P0FXTlMua2V5c6E+gAqhQIAJgA1WTlNGb2501ERFDEZH
			SElKVk5TU2l6ZVZOU05hbWVYTlNmRmxhZ3MjQCgAAAAAAACAC4AM
			EBBWTW9uYWNv0i4vTU6iTjNWTlNGb2500i4vUFGiUTNcTlNEaWN0
			aW9uYXJ50i4vU1WiVDNfEBJOU0F0dHJpYnV0ZWRTdHJpbmdfEBJO
			U0F0dHJpYnV0ZWRTdHJpbmfTNQw2NzhZgAiADoAQU2VfYdNcXQxe
			X2BVTlNSR0JcTlNDb2xvclNwYWNlRjAgMCAwABABgBLSLi9iY6Jj
			M1dOU0NvbG9y0gxlZmdXTlMudGltZYAUI0G2ULD68HRk0i4vaWqi
			ajNWTlNEYXRlUNIuL21wo25vM18QD0xhdGV4aXRFcXVhdGlvbl8Q
			D05TTWFuYWdlZE9iamVjdF8QD0xhdGV4aXRFcXVhdGlvbtIuL3Jz
			onMzV05TQXJyYXkSAAGGoF8QD05TS2V5ZWRBcmNoaXZlcgAIABEA
			FgAfACgAMgA1ADoAPABXAF0AYgBtAHQAdgB4AHoAkwCZAKsAtQC7
			AMQAyQDRANoA4gDtAPIA9AD2AP8BAQEKAQwBDgEQARIBFAEWARgB
			HgEjAStu7G7ubvNu/G8HbwtvGW8gbylvMG89b0ZvSG9Kb0xwIXAo
			cDBwMnA0cDZwOHA6cEFwSnBRcFhwYXBqcGxwbnBwcHdwfHB/cIZw
			i3COcJtwoHCjcLhwzXDUcNZw2HDacN5w5XDrcPhw/3EBcQNxCHEL
			cRNxGHEgcSJxK3EwcTNxOnE7cUBxRHFWcWhxenF/cYJxinGPAAAA
			AAAAAgEAAAAAAAAAdgAAAAAAAAAAAAAAAAAAcaE=
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverActionKey</key>
			<string>_Refresh</string>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-11-12 11:48:01 +0000</string>
	<key>Modifier</key>
	<string>Yoichi Hirai</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{513, 86}, {693, 922}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {558, 783}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
