/.omakedb
/.omakedb.lock
/OMakefile.omc
/OMakeroot.omc
/hirai-thesis.aux
/hirai-thesis.bbl
/hirai-thesis.bib~
/hirai-thesis.blg
/hirai-thesis.dvi
/hirai-thesis.fls
/hirai-thesis.log
/hirai-thesis.pdf
/hirai-thesis.tex~
/memo.txt~
/hirai-thesis.lof
/hirai-thesis.toc

/.gitignore
/wfpaper.aux
/wfpaper.log
/wfpaper.pdf
/wfpaper.tex~
/.omakedb
/.omakedb.lock
/OMakefile.omc
/OMakefile~
/OMakeroot.omc
/sigplanconf-template.tex
/wfpaper.fls
/interim/.omakedb
/interim/.omakedb.lock
/interim/OMakefile.omc
/interim/OMakeroot.omc
/interim/hirai-thesis.aux
/interim/hirai-thesis.dvi
/interim/hirai-thesis.fls
/interim/hirai-thesis.log
/interim/hirai-thesis.pdf
hirai-thesis.lot
/pole.log
