/.omakedb
/.omakedb.lock
/OMakefile.omc
/OMakeroot.omc
/hirai-thesis.aux
/hirai-thesis.bbl
/hirai-thesis.bib~
/hirai-thesis.blg
/hirai-thesis.dvi
/hirai-thesis.fls
/hirai-thesis.log
/hirai-thesis.pdf
/hirai-thesis.tex~
/memo.txt~
/hirai-thesis.lof
/hirai-thesis.toc

/.gitignore
/wfpaper.aux
/wfpaper.log
/wfpaper.pdf
/wfpaper.tex~
/.omakedb
/.omakedb.lock
/OMakefile.omc
/OMakefile~
/OMakeroot.omc
/sigplanconf-template.tex
/wfpaper.fls
/interim/.omakedb
/interim/.omakedb.lock
/interim/OMakefile.omc
/interim/OMakeroot.omc
/interim/hirai-thesis.aux
/interim/hirai-thesis.dvi
/interim/hirai-thesis.fls
/interim/hirai-thesis.log
/interim/hirai-thesis.pdf
hirai-thesis.lot
/pole.log
*-converted-to.pdf
*~
*.aux
*.fls
*.out
*.toc
.omakedb
.omakedb.lock
*.log
*.snm
*.nav
*.omc
hirai-thesis.idx
hirai-thesis.ilg
hirai-thesis.ind
hirai-thesis.thm
lfcs2013/hirai-lfcs.dvi
lfcs2013/hirai-lfcs.pdf
slide_birmingham/hirai-midland.pdf
hirai-lfcs.bbl
hirai-lfcs.blg
/.DS_Store
/abstract.doc
/acknowledge.doc
/conc.doc
/exchange.doc
/haskell.doc
/haskell.txt
/hirai-thesis.fdb_latexmk
/introduction.doc
/lambda.doc
/lambda.txt
/pole.doc
/prelim.doc
/yousi.dvi
/yousi.pdf
/yousi.thm
