/.omakedb
/.omakedb.lock
/OMakefile.omc
/OMakeroot.omc
/hirai-thesis.aux
/hirai-thesis.bbl
/hirai-thesis.bib~
/hirai-thesis.blg
/hirai-thesis.dvi
/hirai-thesis.fls
/hirai-thesis.log
/hirai-thesis.pdf
/hirai-thesis.tex~
/memo.txt~
